<div class="row">

    <a id="anchor_row_{{$index}}"></a>

    <div class="col-xs-12 col-sm-12 col-md-12" id="cnt_div_{{contact.id}}">
        <div class="well well-sm highlight contact-card">
            <div class="row">
               <!--Contact Card (View Form)-->

               <div class="col-xs-12 col-sm-12 col-md-12" ng-mouseover="hl(contact)">



                    <div class="pull-right card-delete">
                       <a href="" class="close" aria-hidden="true" title="Delete contact" ng-click="delete(contact)">&times;</a>
                    </div>

                    <!--<div class="pull-right card-labels">
                       <span class="label label-info" id="Span4" ng-if="contact._searching"><i class="glyphicon glyphicon-search"></i>Searching...</span>
                    </div>-->

                    <h4>
                        <span>{{contact.first}} {{contact.middle}} {{contact.last}}</span>
                        <span class="label label-success card-label" ng-if="contact.bio" title="{{contact.bio}}">Bio</span>
                        <span class="label label-success card-label" ng-if="(isLocal || isAlpha)  && contact.experience" title="{{contact.experience}}">Experience</span>
                        <span class="label label-success card-label" ng-if="(isLocal || isAlpha) && contact.education" title="{{contact.education}}">Education</span>
                        <span class="" ng-if="(isLocal || isAlpha)" title="{{contact.flags}}"><a href="" class="btn btn-link btn-sm" title="View Card" ng-click="viewCard(contact);"><i class="glyphicon glyphicon-new-window"></i></a></span>
                        
                    </h4>

                    <h5 title="{{contact.jobtitle}}" ng-if="contact.jobtitle">{{contact.jobtitle}}</h5>

                    <h5 title="{{contact.company}}" ng-if="contact.company"><strong>{{contact.company}}</strong></h5>

                    <div>
                       <span ng-show="contact.city" class="nowrap" style="overflow: visible;">
                           <i class="glyphicon glyphicon-map-marker"></i>
                           <a href="" ng-click="loadPage('http://maps.google.com/?q=' + contact.address1+' '+contact.address2+' '+contact.city+' '+contact.state+' '+contact.zip+' '+contact.country)">
                           {{getDisplayAddress(contact)}}
                           </a>

                           <span ng-if="contact.addresses" class="dropdown pull-right"  style="margin-left:-30px">
                               <a class="dropdown-toggle " data-toggle="dropdown" href="">
                                   <span data-toggle="tooltip" title="Choose Alternative Address">[More]</span>
                               </a>
                               <ul class="dropdown-menu">
                                    <li role="presentation" ng-repeat="address in contact.addresses">
                                        <a role="menuitem" href="" ng-click="applyAddress(contact, address)">
                                            {{getDisplayAddress(address)}}
                                        </a>
                                    </li>
                                </ul>  
                           </span>


                          

                       </span>
                    
                       <span ng-if="contact.phone" class="nowrap">
                           <i class="glyphicon glyphicon-earphone"></i>
                           <a href="" ng-click="loadPage(contact.phone1src)" ng-if="contact.phone1src">{{contact.phone}}</a>
                           <span ng-if="!contact.phone1src">{{contact.phone}}</span>
                           <span>&nbsp;&nbsp;&nbsp;</span>
                           <span>{{contact.phone2}}</span>
                       </span>


                       <span ng-show="contact.email" class="nowrap">
                           <i class="glyphicon glyphicon-envelope"></i>
                           <a target="_blank" href="mailto:{{contact.email}}">{{contact.email}}</a> <span 
                            class="label label-{{contact.emailver>0?'success':'default'}}"
                            ng-hide="contact.emailver == null" data-toggle="tooltip"
                            title="{{contact.emailver2}}"><i class="glyphicon glyphicon-{{contact.emailver>0?'ok':'question'}}-sign"></i> Domain</span> <span 
                            class="label label-{{contact.emailver>1?'success':'default'}}" 
                            ng-hide="contact.emailver == null" data-toggle="tooltip"
                            title="{{contact.emailver>1?'Email was confirmed by at least one data source':'Email may be valid but it was not confirmed by other data sources'}}"><i 
                                class="glyphicon glyphicon-{{contact.emailver>1?'ok':'question'}}-sign"></i> Email</span>
                       </span>

                        <span ng-show="contact.email2" class="nowrap">
                            <i class="glyphicon glyphicon-envelope"></i>
                            <a target="_blank" href="mailto:{{contact.email2}}">{{contact.email2}}</a> <span 
                            class="label label-{{contact.email2ver>0?'success':'default'}}"
                            ng-hide="contact.email2ver == null" data-toggle="tooltip"
                            title="{{contact.email2ver2}}"><i class="glyphicon glyphicon-{{contact.email2ver>0?'ok':'question'}}-sign"></i> Domain</span> <span 
                            class="label label-{{contact.email2ver>1?'success':'default'}}" 
                            ng-hide="contact.email2ver == null" data-toggle="tooltip"
                            title="{{contact.email2ver>1?'Email was confirmed by at least one data source':'Email may be valid but it was not confirmed by other data sources'}}"><i 
                            class="glyphicon glyphicon-{{contact.email2ver>1?'ok':'question'}}-sign"></i> Email</span>
                       </span>

                        <span ng-show="contact.emails" class="nowrap" ng-repeat="email in contact.emails">
                            <i class="glyphicon glyphicon-envelope"></i>
                            <a target="_blank" href="mailto:{{email}}">{{email}}</a>
                       </span>
                        
                       <span class="nowrap">
                           <i class="glyphicon glyphicon-globe"></i>
                           <a href="" ng-click="loadPage(contact.website)">{{contact.website}}</a> <span 
                            class="label label-{{contact.flags.indexOf('profiler:Y')>=0?'success':'default'}}"
                            ng-hide="!contact.flags || contact.flags.indexOf('profiler:')<0" data-toggle="tooltip"
                            title="{{contact.flags.indexOf('profiler:Y')>=0?'Profiler data is available for this domain':'No Profiler data is available for this domain yet'}}"><i class="glyphicon glyphicon-{{contact.flags.indexOf('profiler:Y')>=0?'ok':'question'}}-sign"></i> Profiler</span>
                            <a href="" class="btn btn-xs btn-{{contact.website?'default':'warning'}}" title="Lookup Website" ng-click="lookupWebsite(contact)">
                                <i class="glyphicon glyphicon-search"></i>
                                <span ng-if="!contact.website">Lookup Website</span>
                            </a>
                       </span>

                       <span ng-if="contact.venues" class="nowrap" ng-repeat="venue in contact.venues">
                           <img ng-src="images/social/{{getSocialVenu(venue.website)}}.jpg" class="glyphicon-image">
                           <a href="" ng-click="loadPage(venue.website)">{{venue.website}}</a>
                       </span>

                       <span ng-if="contact.sourceurl" class="nowrap">
                           <i class="glyphicon glyphicon-info-sign"></i>
                           <a href="" ng-click="loadPage(contact.sourceurl);">{{contact.sourceurl}}</a>
                       </span>
                    </div>

                    <div class="btn-group dropup">

                       <i class="glyphicon glyphicon-list"  title="{{contact.flags}}"></i>

                       <div style="display: inline">
                            <button type="button" class="btn btn-link dropdown-toggle btn-xs dropup" id="dropdownMenu1" data-toggle="dropdown"
                                title="Move to a list">
                                {{contact.mark}}  <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li><a href="" ng-click="applyMark(markDefault, contact); ">{{markDefault}}</a></li>
                                <li ng-repeat="mark in marks" class="{{ contact.mark == mark ? 'disabled' : '' }}">
                                   <a href="" ng-click="applyMark(mark, contact); ">{{mark}}</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="" ng-click="showNewMarkDlg(contact)">New list</a></li>
                            </ul>
                           
                       </div>
                    </div>
                  
                    <div style="height: 1em"></div>

                    <!--Contact Menu-->
                    <div>

                      <ul class="nav nav-pills">

                          <!-- <li>
                                <a href="" class="btn btn-link btn-sm" title="View Card" ng-click="viewCard(contact);">View</a>
                           </li>-->

                          <!--<li>
                              <a href="" class="btn btn-link btn-sm" title="Normalize"
                                 ng-click="normalize([contact])">
                                  Normalize
                              </a>
                          </li>-->

                           <li>
                               <a href="" class="btn btn-link btn-sm {{canDive(contact)?'':'disabled'}}" title="Open Source URL and capture"
                                  ng-click="dive(contact)">
                                   <i class="glyphicon glyphicon-ok" ng-show="dived(contact)"></i>
                                   {{dived(contact)?'Dived':'Dive'}}
                               </a>
                           </li>

                           <li>
                               <a href="" title="Research this contact" class="btn btn-sm no-hover-invert"
                                  ng-init="checkResearch(contact)"
                                  ng-disabled="researchButtonBusy(contact)"
                                  ng-class="{'btn-info':!researchButtonDone(contact) && !researchButtonBusy(contact), 'btn-success': researchButtonDone(contact) && !researchButtonBusy(contact), 'btn-default':researchButtonQueued(contact), 'btn-danger':researchButtonBusy(contact) }"
                                  ng-click="research(contact)">
                                   <i class="glyphicon glyphicon-ok" ng-show="researchButtonDone(contact) && !researchButtonBusy(contact)"></i>
                                   <img width="12" src="images/298.GIF" ng-show="researchButtonBusy(contact)" />
                                   {{ researchButtonText(contact) }}
                               </a>
                           </li>

                           <li class="{{showMore?'active':''}}">
                                <a href="" class="btn btn-link" title="Find more using specialized searches"
                                   ng-click="showMore=!showMore;showDups=false;showSave=false;">
                                   <i class="glyphicon glyphicon-search"></i>
                                </a>
                           </li>

                          <li>
                              <a href="" class="btn btn-link" title="Edit contact"
                                 ng-click="editContact(contact);">
                                  <i class="glyphicon glyphicon-pencil"></i>
                              </a>
                          </li>

                          <li>
                              <a href="" class="btn btn-link" title="Normalize contact"
                                 ng-if="isLocal"
                                 ng-click="normalize([contact])">
                                  <i class="glyphicon glyphicon-flash"></i>
                              </a>
                          </li>

                          <li class="{{showDups?'active':''}}" ng-hide="settings.target==='no'">
                              <a href="" class="btn btn-link" title="Found duplicates"
                                 ng-click="showDups=!showDups;showMore=false;showSave=false;toggleShowDups(contact)">
                                  <i class="glyphicon glyphicon-flag" ng-show="!contact._searching"></i>
                                  <img width="12" src="images/298.GIF" ng-show="contact._searching"/>
                                  <span class="label label-{{contact.links.length>0?'danger':'success'}}" ng-show="!contact._searching">{{ contact.links.length }}</span>
                              </a>
                          </li>
                          

                          <li class="dropdown pull-right dropup {{contact._saving?'active':''}}">
                              <a class="dropdown-toggle btn btn-sm btn-link" data-toggle="dropdown" href="">
                                  <span data-toggle="tooltip" title="Export" style1="{{contact._saved ?'text-decoration: line-through':''}}">
                                      <i class="glyphicon glyphicon-ok" ng-show="contact._saved && !contact._saving"></i>
                                      <img width="12" src="images/298.GIF" ng-show="contact._saving" />
                                      {{contact._saved ?'Exported':'Export'}}
                                  </span>
                              </a>
                              <ul class="dropdown-menu">
                                  <li role="presentation" ng-show="contact._link"><a role="menuitem" href="" ng-click="loadPage(contact._link)">Open saved record</a></li>
                                  <li role="presentation" ng-show="contact._link" class="divider"></li>

                                  <!-- Export target v1 -->
                                  <!--<li role="presentation" ng-show="settings.target==='ms'"><a role="menuitem" href="" ng-click="save(contact, 'lead')"><span class="glyphicon glyphicon-share-alt" /> Dynamics Lead</a></li>
                                  <li role="presentation" ng-show="settings.target==='ms'"><a role="menuitem" href="" ng-click="save(contact, 'contact')"><span class="glyphicon glyphicon-share-alt" /> Dynamics Contact</a></li>-->
                                  <!--<li role="presentation" ng-show="!(isAlpha || isLocal) && settings.target==='sf'"><a role="menuitem" href="" ng-click="save(contact, 'lead')"><span class="glyphicon glyphicon-share-alt" /> Salesforce Lead</a></li>
                                  <li role="presentation" ng-show="!(isAlpha || isLocal) && settings.target==='sf'"><a role="menuitem" href="" ng-click="save(contact, 'contact')"><span class="glyphicon glyphicon-share-alt" /> Salesforce Contact</a></li>-->
                                  <!--<li role="presentation" ng-show="settings.target==='pp'"><a role="menuitem" href="" ng-click="save(contact, 'contact')"><span class="glyphicon glyphicon-share-alt" /> Pipeliner Contact</a></li>
                                  <li role="presentation" ng-show="settings.target==='zh'"><a role="menuitem" href="" ng-click="save(contact, 'lead')"><span class="glyphicon glyphicon-share-alt" /> Zoho Lead</a></li>
                                  <li role="presentation" ng-show="settings.target==='zh'"><a role="menuitem" href="" ng-click="save(contact, 'contact')"><span class="glyphicon glyphicon-share-alt" /> Zoho Contact</a></li>-->

                                  <!-- Export target v2 -->
                                  <!--<li role="presentation" ng-repeat="obj in settings.targetMap[settings.target].entities"><a role="menuitem" href="" ng-click="save(contact, obj.name)"><span class="glyphicon glyphicon-share-alt" /> {{export.name}} {{obj.label}}</a></li>-->

                                  <!-- New way -->
                                  <li role="presentation" ng-repeat="obj in export.targets">
                                      <a role="menuitem" href=""
                                         ng-click="save(contact, obj.target)">
                                          <span class="glyphicon glyphicon-share-alt" /> {{export.name}} {{obj.label}}
                                      </a>
                                  </li>

                                  <!-- CSV -->
                                  <li role="presentation" class="divider" ng-hide="export.targets.length === 0 && !contact._link"></li>
                                  <li role="presentation"><a role="menuitem" href="" ng-click="save(contact, 'csv')"><span class="glyphicon glyphicon-save" /> CSV file</a></li>
                              </ul>
                          </li>

                      </ul>
                    </div>




                    <div style="clear: both; height: 1em"></div>

                    <!--Extra Searches-->
                    
                    <div ng-include="'components/partials/contacts/searches/list.html'"  ng-show="showMore"/>
                    <!--Dups-->
                    <div ng-include="'components/partials/contacts/duplicates/list.html'" ng-show="showDups && !contact._searching" />


               </div>


            </div>
        </div>
    </div>
</div>
