<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>

    <div class="row">
        <div class="col-xs-12">
            <h3>CAPTURE CLICKTHROUGH SOFTWARE AS A SERVICE ("SaaS") SUBSCRIPTION AGREEMENT</h3>
            <p>
                IMPORTANT &ndash; PLEASE READ CAREFULLY BEFORE CLICKING THE "ACCEPT" BUTTON
                BELOW.YOU WILL BE REQUIRED TO CLICK THE "ACCEPT" BUTTON PRIORTO BEING ABLE
                TO DOWNLOAD, ACCESS AND/OR USE THE CAPTURE CHROME EXTENSION AND/OR
                TECHNOLOGY AS TO WHICH YOU ARE BEING GRANTED A SUBCRIPTION LICENSE.This
                CAPTURE Clickthrough Software as a Service Subscription Agreement (hereinafter "Agreement") is a
                legal contract between you (either an individual or a single business entity, hereinafter referred to as "You"
                or "Your") and Ringlead, Inc., a Delaware corporation ("Ringlead") and governs setting forth the terms of
                Your subscription for access to Ringlead's CAPTURE service (the "Service")
            </p>

            <p>
                BY CLICKING THE "ACCEPT" BUTTON BELOW, OR BY DOWNLOADING, INSTALLING THE
                CHROME EXTENSION OR OTHERWISE USING THE SERVICE, YOU AGREE TO BE BOUND BY
                THE TERMS OF THIS AGREEMENT.IF YOU DO NOT AGREE TO THE TERMS OF THIS
                AGREEMENT, DO NOT CLICK THE "ACCEPT" BUTTON, OR DOWNLOAD OR INSTALL THE
                CAPTURE CHROME EXTENSION, OR USE THE SERVICE.
            </p>

            <p>YOU SHOULD PRINT AND RETAIN A COPY OF THIS AGREEMENT FOR YOUR RECORDS.</p>

            <ol>
                <li>
                    <h4>REPRESENTATIONS BY YOU.</h4> By clicking the "ACCEPT" button to accept this Agreement
                    and/or by downloading and installing the CAPTURE Chrome extension or by using the Service, You
                    hereby represent and warrant that all information provided by You to Ringlead during the registration
                    process for the Service is true and accurate in all material respects.You further represent and warrant that
                    You have been duly authorized to enter into this Agreement for and on behalf of any person, company, or
                    other entity specified during the initial registration process for the Service.Should either of these
                    representations prove false at any time, Ringlead may, in Ringlead`s sole discretion, immediately
                    discontinue Your access to and disable Your use of the Service without notice and without recourse by You.
                </li>


                <li>
                    <h4>SUBSCRIPTION TERMS.</h4>

                    <ol style="list-style-type: lower-alpha;">

                        <li>
                            <u>The Service.</u> The "Service" means the CAPTURE Chrome extension and all of Ringlead`s
                            associated proprietary technology (including software, hardware, processes, algorithms, user interfaces,
                            know-how, techniques, and other tangible or intangible material or information) that is hosted, operated,
                            maintained and made available to You by Ringlead in providing the Service.
                        </li>

                        <li>
                            <u>Term of Subscription.</u> Your initial subscription to the Service is for a term of twelve (12)
                            months, and commences upon Your acceptance of this Agreement (the "Term").You may extend the
                            Term for additional, sequential twelve month periods by making payment of the Annual Subscription Fee
                            then in effect.
                        </li>

                        <li>
                            <u>Subscription Fee.</u>The amount of the annual subscription fee (the "Annual Subscription Fee") is
                            determined on a per seat basis and is specified <a href="https://www.ringlead.com/capture/" target="_blank">HERE</a>. The Annual Subscription Fee is
                            payable in advance.
                        </li>

                        <li>
                            <u>Subscription.</u>

                            <ol style="list-style-type: lower-roman">
                                <li>
                                    Upon payment of the Annual Subscription Fee, and in accordance with the terms stated
                                    herein and subject to the limitations stated in sections (ii) – (v) below, Ringlead grants to You a limited,
                                    non-exclusive, non sub-licensable and non-transferable license to access and use the Service over the
                                    internet, during the Subscription Term within the United States of America, strictly for Your own internal
                                    business purposes (the "Subscription").All rights not granted to You are reserved by Ringlead.
                                </li>
                                <li>
                                    The Subscription to the Service is limited to the number of computer users specified by
                                    You in the subscription process for the Service.
                                </li>
                                <li>
                                    You shall not (a) license, sublicense, sell, resell, transfer, assign, distribute, or otherwise
                                    commercially exploit or make available to any third party the Service in any way; (b) modify or make
                                    derivative works based upon the Service; (c) create Internet "links" to the Service or "frame" or "mirror"
                                    any content on any other server or wireless or Internet-based device; or (d) reverse engineer or access the
                                    Service in order to (1) build a competitive product or service, (2) build a product using similar ideas,
                                    features, functions or graphics of the Service, or (3) copy any ideas, features, functions or graphics of the
                                    Service.
                                </li>
                                <li>
                                    You shall not (a) interfere with or disrupt the integrity or performance of the Service or
                                    the data contained therein; or (b) attempt to gain unauthorized access to the Service or its related systems
                                    or networks.
                                </li>
                            </ol>
                        </li>
                    </ol>

                </li>

                <li>
                    <h4>INTELLECTUAL PROPERTY RIGHTS.</h4>

                    <p>
                        Ringlead shall retain sole and exclusive right, title,
                        and interest, including without limitation all intellectual property rights and other proprietary rights, in and
                        to all aspects of the Service, the CAPTURE Chrome extension and all of Ringlead`s technology.  All rights
                        not specifically granted under the Agreement are reserved to Ringlead.  The Service, the CAPTURE
                        Chrome extension and Ringlead`s technology are protected by copyright laws and international copyright
                        treaties, as well as other intellectual property laws and treaties.  Access to the Service is licensed, not sold
                        to You, and You do not acquire any rights, express or implied, other than those specified in the
                        Agreement.
                    </p>

                </li>


                <li>
                    <h4>WARRANTY; DISCLAIMER OF WARRANTIES</h4>

                    <ol style="list-style-type: lower-alpha;">
                        <li>
                            <u>Limited Performance Warranty.</u>  Ringlead warrants that it will provide the Service in a manner
                                consistent with general industry standards reasonably applicable to the provision thereof and that the
                                Service will perform substantially in accordance with the online CAPTURE help documentation under
                                normal use and circumstances.

                        </li>

                        <li>
                            <u>Disclaimer.</u>  EXCEPT AS EXPRESSLY SET FORTH HEREIN, THERE ARE NO OTHER
                                WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT
                                LIMITED TO, WARRANTIES AS TO TITLE OR INFRINGEMENT OF THIRD-PARTY RIGHTS,
                                MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.  THE SERVICE, THE
                                CAPTURE CHROME EXTENSION, DOCUMENTATION AND OTHER FILES ARE PROVIDED "AS
                                IS."  RINGLEAD DOES NOT AND CANNOT WARRANT THE PERFORMANCE OR RESULTS YOU
                                MAY OBTAIN BY USING THE SOFTWARE.  Some jurisdictions do not allow the exclusion of implied
                                warranties, so the above exclusion may not apply to You.  This warranty gives You specific legal rights,
                                and You may also have other legal rights, which vary from jurisdiction to jurisdiction.
                        </li>
                    </ol>
                </li>

                <li>
                    <h4>LIMITATION OF LIABILITY</h4>

                    <p>
                        IN NO EVENT WILL RINGLEAD BE LIABLE TO YOU OR ANY THIRD PARTY FOR INDIRECT,
                        SPECIAL, INCIDENTAL, CONSEQUENTIAL, EXEMPLARY OR OTHER SIMILAR DAMAGES,
                        INCLUDING LOST PROFITS, ARISING FROM THE USE OF OR INABILITY TO USE THE
                        SERVICE OR FROM ANY BREACH OF WARRANTY, EVEN IF RINGLEAD HAS BEEN ADVISED
                        OF THE POSSIBILITY OF SUCH DAMAGES.
                    </p>
                </li>
                <li>
                    <h4>GENERAL PROVISIONS</h4>

                    <ol style="list-style-type: lower-alpha;">
                        <li>
                            <u>Modifications.</u>  Ringlead may alter or revise the terms of this Agreement by giving You thirty (30)
                                days notice of the changes to be made.  If You do not agree to accept the changes, Your sole remedy shall
                                be to discontinue Your use of the Service.
                        </li>
                        <li>
                            <u>Governing Law/Venue/Jurisdiction/Jury Waiver.</u>  This Agreement shall be governed by and
                                interpreted in accordance with the laws of the State of New York without giving effect to the conflict of
                                law provisions thereof. Each of the parties hereto irrevocably: (i) submits to the personal jurisdiction of the
                                courts sitting in Suffolk County, New York in the event any dispute arises out of this Agreement or any of
                                the transactions contemplated by this Agreement; (ii) agrees that it will not attempt to deny or defeat such
                                personal jurisdiction or venue by motion or other request for leave from any such court; and (iii) agrees that
                                it will not bring any action relating to this Agreement or any of the transactions contemplated by this
                                Agreement in any court other than such courts sitting in Suffolk County, New York. THE PARTIES
                                HERETO WAIVE TRIAL BY JURY IN ANY ACTION, SUIT, PROCEEDING, OR COUNTERCLAIM
                                BROUGHT BY EITHER OF THEM AGAINST THE OTHER IN ANY MATTER ARISING OUT OF
                                OR IN ANY WAY CONNECTED WITH THIS AGREEMENT.
                        </li>
                        <li>
                            <u>Termination.</u>  Without prejudice to any other rights it may have, Ringlead may terminate this
                                Agreement if You fail to comply with the terms and conditions of this Agreement.  In such event,
                                Ringlead may deny You access to the Service and You must discontinue use of the Service.
                        </li>
                        <li>
                            <u>Severability.</u>  Except as otherwise set forth in this Agreement, the provisions of this Agreement
                                are severable, and if any one or more such provisions shall be determined to be invalid, illegal or
                                unenforceable, in whole or in part, the validity, legality and enforceability of any of the remaining
                                provisions or portions thereof shall not in any way be affected thereby and shall nevertheless be binding
                                between the parties hereto. Any such invalid, illegal or unenforceable provision or portion thereof shall be
                                changed and interpreted so as to best accomplish the objectives of such provision (or portion thereof)
                                within the limits of applicable law.
                        </li>
                        <li>
                            <u>Complete Agreement.</u> The parties agree that this Agreement is the complete and exclusive
                                statement of the agreement between the parties, which supersedes and merges all prior proposals,
                                understandings and all other agreements, oral or written, between the parties relating to the subject
                                matter.
                        </li>
                        <li>
                            <u>Waiver.</u>  Any waiver, either expressed or implied, by either party of any default by the other in
                                the observance and performance of any of the conditions and/or covenants of duties set forth herein
                                shall not constitute or be construed as a waiver of any subsequent or other default.
                        </li>
                        <li>
                            <u>Read and Understood.</u> You hereby acknowledge that You have read and understand this
                            Agreement and agree to be bound by its terms.
                        </li>
                        <li>
                            <u>Headings.</u> The headings to the Sections and Subsections of this Agreement are included merely
                            for convenience of reference and shall not affect the meaning of the language included therein.
                        </li>
                        <li>
                            <u>Notices.</u>
                            All routine communications regarding the Service shall be made through Your email as
                            or physical address as supplied during the registration process for the Service.  All other communications,
                            such as legal disputes, shall be delivered in writing and shall be deemed given (a) when delivered
                            personally by hand (with written confirmation of receipt), (b) when sent by facsimile (with written or
                            electronic confirmation of transmission), (c) one Business Day following the day sent by overnight
                            courier (with written confirmation of receipt) or (d) when delivered by email (with written or electronic
                            confirmation of receipt), in each case at the following addresses and facsimile numbers (or to such other
                            address or facsimile number as a party may have specified by notice given to the other party pursuant to
                            this provision): (i) if to Ringlead: Ringlead, Inc., 223 Wall Street, Suite 144, Huntington, NY 11743,
                            Email: <a href="mailto:billing@ringlead.com">billing@ringlead.com</a>; and (ii) if to You: to the email address or physical address supplied by You
                            in the registration process for the Service.
                        </li>
                    </ol>

                    <p>
                        BY CLICKING THE "ACCEPT" BUTTON BELOW YOU ACKNOWLEDGE THAT YOU HAVE
                        READ, UNDERSTAND, AND AGREE TO BE BOUND BY THE TERMS ABOVE.  IF YOU REJECT
                        THE PROPOSED TERMS ABOVE BY NOT CLICKING THE "ACCEPT" BUTTON, YOU WILL BE
                        DENIED ACCESS TO THE SERVICE THAT WE ARE OFFERING TO YOU.
                    </p>
                </li>
            </ol>

        </div>
    </div>

</body>
</html>
