<form ng-submit="search()" role="form">

    <div ng-show="selectedSearch">

        <div class="form-group">
            <h4>{{selectedSearch.name}}</h4>
            <h6>{{selectedSearch.author}} <small>{{selectedSearch.createdOn | date : date : mediumDate }}</small></h6>
            <p>{{selectedSearch.description}}</p>
            <pre>{{selectedSearch.searchEngine}}{{selectedSearch.searchString}}</pre>
        </div>

        <div ng-repeat="kw in selectedSearch.vars" class="form-group" ng-show="kw != 'Location'">
            <label for="searchInput{{kw}}">{{kw}}</label>
            <input type="search" class="form-control" id="searchInput{{kw}}" placeholder="Enter {{kw}}" ng-model="vals[kw]" autocomplete="off" force-model-update>
        </div>

        <div class="form-group" ng-show="hasLocation">
            <label for="searchInputLocation">Location</label>
            <input type="search" class="form-control" id="searchInputLocation" placeholder="Enter location" ng-model="vals['Location']" autocomplete="off" force-model-update>
        </div>

        <div class="form-group">
            <!-- <div class="checkbox pull-right">
            <label>
                <input type="checkbox" ng-model="autoCapture" ng-disabled="!selectedSearch">
                Capture Right Away
            </label>
        </div>-->
            <button type="submit" class="btn btn-primary" ng-disabled="!selectedSearch">Execute Search</button>
            <button type="button" class="btn btn-default" ng-click="edit(selectedSearch)" ng-disabled="!selectedSearch">Edit</button>
        </div>
    </div>
</form>