<nav class="navbar navbar-default" role="navigation" 
     style="border-style: none; -webkit-box-shadow: none; width: 100%; margin-bottom: 4px; min-height: 34px;">

    <div class="navbar-left">

        <div class="input-group pull-left dropdown">

            <!--<button type="button" class="btn btn-default btn-sm navbar-btn" style="margin-top: 0; margin-bottom: 0" ng-if="isLocal" ng-click="test()">Test</button>-->

            <button type="button" id="dropdownMenuActions" title="Bulk Actions" class="btn btn-default btn-sm navbar-btn dropdown-toggle" 
                    style="margin-top: 0; margin-bottom: 0; letter-spacing: 1px; width: 90px" 
                    data-toggle="dropdown">Actions <b class="caret"></b></button>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuActions">
                <li><a href="" ng-click="newContact()" title="Create a new contact to edit">New Contact</a></li>
                <li class="divider"></li>
                <li><a href="" ng-click="select(getDisplayedContacts())" title="Select all records">Select All</a></li>
                <li class="{{getSelectionCount()==0?'disabled':''}}"><a href="" ng-click="select([])" title="Clear selection">Clear Selection</a></li>
                <li class="divider"></li>
                <li class="{{(getSelectionCount()==0 || !settings.target || settings.target === 'no')?'disabled':''}}"><a href="" ng-click="findDups(getSelectedContacts())" title="Find duplicates of selected records in CRM">Find Duplicates</a></li>
                <li class="{{getSelectionCount()==0?'disabled':''}}"><a href="" ng-click="researchContacts(getSelectedContacts())" title="Research selected records">Research</a></li>
                <li class="{{getSelectionCount()==0?'disabled':''}}"><a href="" ng-click="exportContacts(getSelectedContacts())" title="Export selected records">Export</a></li>
                <li class="{{getSelectionCount()==0?'disabled':''}}"><a href="" ng-click="moveToList(null, getSelectedContacts())" title="Move selected to another list">Move</a></li>
                <li class="{{getSelectionCount()==0?'disabled':''}}"><a class="" href="" ng-click="deleteContacts(getSelectedContacts())" title="Delete selected records">Delete</a></li>

                <!--<li class="divider"></li><li class="divider"></li>
                <li><a href="" ng-click="newContact()" title="Create a new contact to edit">New Contact</a></li>
                <li class="divider" ng-show="filteredCount"></li>
                <li ng-show="filteredCount"><a href="" ng-click="research(contacts)" title="Research all records">Research All</a></li>
                <li class="divider" ng-show="filteredCount"></li>
                <li ng-show="filteredCount" class="{{ (!targetConnected) ? 'disabled' : ''}}"><a href="" ng-click="findDups(contacts)" title="Find all duplicate records in Salesforce">Find Duplicates</a></li>
                <li class="divider" ng-show="filteredCount"></li>
                <li class="dropdown-submenu" ng-show="filteredCount">
                    <a tabindex="-1" href="">Save All As...</a>
                    <ul class="dropdown-menu">
                        <li class="{{ (!targetConnected) ? 'disabled' : ''}}" ng-repeat="obj in export.targets">
                            <a href="" ng-if="!targetConnected">{{export.name}} {{obj.label}}s</a>
                            <a href="" ng-if="targetConnected"
                               title="Save all records as {{export.name}} {{obj.label}}"
                               ng-click="save(contacts, obj.target)">{{export.name}}&nbsp;{{obj.label}}s</a>
                        </li>

                        <li class="divider" ng-hide="settings.target==='no'"></li>
                        <li class=""><a href="" ng-click="save(contacts, 'csv')" title="Save all records to CSV file">CSV File</a></li>
                    </ul>
                </li>
                <li class="divider" ng-show="filteredCount"></li>
                <li class="dropdown-submenu" ng-show="filteredCount">
                    <a tabindex="-1" href="">Move All To...</a>
                    <ul class="dropdown-menu">

                        <li><a href="" ng-click="showNewMarkDlg()">New List</a></li>
                        <li class="divider" ng-hide="marks.length===0"></li>
                        <li ng-repeat="mark in marks" class="{{ (activeMark==mark) ? 'disabled' : ''}}"><a href="" ng-click="applyExistingMark(mark); ">{{mark}}</a></li>
                    </ul>
                </li>
                <li class="divider" ng-show="filteredCount"></li>
                <li ng-show="filteredCount" class="{{filteredCount==0?'disabled':''}}"><a class="" href="" ng-click="delete(contacts)" title="Delete all records">Delete All</a></li>-->
            </ul>

        </div>


        <div class="input-group pull-right" style="width: 200px; ">
            <input type="search" placeholder="Filter by..." class="form-control input-sm" style="" ng-model="filterText" ng-change="filterBy(filterText)">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" title="Filter by list name"><span class="caret"></span></button>
                <ul class="dropdown-menu pull-right" >
                    <li class="{{ activeMark == markAll ? 'disabled' : '' }}"><a href="" ng-click="showMark(markAll)">All Cards ({{getCount(markAll)}})</a></li>
                    <li class="{{ activeMark == markDefault ? 'disabled' : '' }}"><a href="" ng-click="showMark(markDefault)">{{markDefault}} ({{getCount(markDefault)}})</a></li>
                    <li><a href="" ng-click="showNewMarkDlg([])">Create New List</a></li>
                    <li class="divider" ng-hide="marks.length===0"></li>
                    <li ng-repeat="mark in marks" class="nowrap {{ activeMark == mark ? 'disabled' : '' }}">

                        <span style="float:right;white-space:nowrap;padding-top: 3px">
                           
                                <a href="" style="display: inline-block; padding-left: 0; padding-right: 0; font-size: 10px" title="Rename this list" ng-click="renameList(mark); $event.stopPropagation();"><i class="glyphicon glyphicon-pencil"></i></a>
                                <a href="" style="display: inline-block; padding-left: 0; padding-right: 0; font-size: 10px" title="Delete this list" ng-click="deleteList(mark); $event.stopPropagation();"><i class="glyphicon glyphicon-remove"></i></a>
                            
                        </span>

                        <a href="" ng-click="showMark(mark)" style="vertical-align: baseline; display: inline-block; overflow: hidden; white-space: nowrap; max-width:116px;" title="{{mark}}"><span 
                                style="display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width:80px;">{{mark}}</span> <span 
                                style="display: inline-block; vertical-align: top">({{getCount(mark)}})</span>                        
                        </a>
                        <!--<div class="contact-list-item" ng-click="showMark(mark)">
                            <span style="float:right;white-space:nowrap;padding-top: 6px">
                                <small>
                                    <a href="" style="display: inline-block; padding-left: 0; padding-right: 0; font-size: 9px" title="Rename this list" ng-click="renameList(mark); $event.stopPropagation();"><i class="glyphicon glyphicon-pencil"></i></a>
                                    <a href="" style="display: inline-block; padding-left: 0; padding-right: 0; font-size: 9px" title="Delete this list" ng-click="deleteList(mark); $event.stopPropagation();"><i class="glyphicon glyphicon-remove"></i></a>
                                </small>
                            </span>
                            <a href="" ng-disabled="activeMark===mark" ng-click="showMark(mark)" style="display: inline-block; overflow: hidden; text-overflow: ellipsis;white-space: nowrap; max-width:300px;padding-left:0px;padding-right:5px;">{{mark}}</a>
                            <span style="display: inline-block;padding-right:60px;">({{getCount(mark)}})</span>
                        </div>-->
                    </li>

                </ul>
                <!--<button type="button" class="btn btn-default btn-sm {{activeMark==markDefault||activeMark==markAll||activeMark==markNone?'disabled':''}}" ng-click="renameList(activeMark)" title="Rename this list"><i class="glyphicon glyphicon-pencil"></i></button>
                <button type="button" class="btn btn-default btn-sm {{activeMark==markDefault||activeMark==markAll||activeMark==markNone?'disabled':''}}" ng-click="deleteList(activeMark)" title="Delete this list"><i class="glyphicon glyphicon-remove"></i></button>-->
            </div>
        </div>


        <!--<div style="position: absolute; padding-right: 4px; top: -62px; right: 50px">
            <div style="font-size: 11px; letter-spacing: 1px">
                <span>Credits: {{tokens}}</span>-->
                <!--<a href="" class="btn btn-default btn-xs" ng-click="setCurrentPage($index)" data-toggle="tooltip" title="Buy More Credits">Buy</a>-->
                <!--<a href="" class="btn btn-link btn-xs" ng-show="((isLocal || isAlpha || isBeta) && settings.target==='sf')" ng-click="earnTokens()" data-toggle="tooltip" title="Earn Free Credits"><span class="glyphicon glyphicon-flash"></span></a>-->
                <!--<a class="" ng-show="((isLocal || isAlpha) && settings.target==='sf')" ng-click="earnTokens()" data-toggle="tooltip" title="Earn FREE tokens"><span class="glyphicon glyphicon-flash"></span></a>-->
            <!--</div>
        </div>-->


        <div class="input-group text-center" ng-show="pages.length > 1">
            <div style="padding-left: 4px; margin-top: 0px; margin-bottom: 0; width: 280px; max-width: 280px; overflow: hidden">

                <div style="font-size: 85%; margin-top: 9px; margin-left: 4px; display:inline-block; white-space: nowrap; max-width: 276px" ng-show="pages.length > 0">
                    
                    <div style="display: inline-block; max-width: 20px; overflow: hidden; ">
                        <a href="" class="" style="margin-left: 4px; margin-right: 4px;" title="Go to the first page"
                           ng-click="setCurrentPage(0)" ng-show="currentPage > 0"><i class="glyphicon glyphicon-triangle-left"></i></a>

                        <i class="glyphicon glyphicon-triangle-left" ng-hide="currentPage > 0"></i>
                    </div>
                    <div style="display: inline-block; max-width: 200px; overflow: hidden; ">
                        <a href="" class="" style="margin-left: 4px; margin-right: 4px; {{$index===currentPage?'font-weight: bold':''}}"
                           ng-repeat="page in pages" ng-click="setCurrentPage($index)" ng-show="$index >= (currentPage - 1) && $index <= (currentPage + 1)">{{page}}</a>
                    </div>
                    <div style="display: inline-block; max-width: 20px; overflow: hidden; ">
                        <a href="" class="" style="margin-left: 4px; margin-right: 4px;" title="Go to the last page"
                           ng-click="setCurrentPage(pages.length - 1)" ng-show="currentPage < (pages.length - 1)"><i class="glyphicon glyphicon-triangle-right"></i></a>

                        <i class="glyphicon glyphicon-triangle-right" ng-hide="currentPage < (pages.length - 1)"></i>
                    </div>
                   

                </div>
            </div>
        </div>
        <!--<span>Contacts: </span>-->
        <!--<div style="display:inline-block;" ng-show="pages.length === 0">
        Contacts: 0
    </div>-->
        <!--<div style="display:inline-block; margin-left: 8px" ng-show="filteredCount !== contacts.length">
        Hidden: {{contacts.length - filteredCount}}
    </div>-->
        <!--<a href="" ng-if="numberOfPages() > 1" ng-repeat="i in getNumberAsArray(numberOfPages()) track by $index" ng-click="setCurrentPage($index)">{{($index)*pageSize+1}}-{{($index + 1)*pageSize}} </a>-->



    </div>

</nav>

<!--<div ng-show="numberOfPages() > 1" style="margin-bottom: 4px">
    <a href="" class="btn btn-default btn-sm" ng-repeat="i in getNumberAsArray(numberOfPages()) track by $index" ng-click="setCurrentPage($index)">
        <span>{{($index)*pageSize+1}}-{{($index + 1)*pageSize}}</span>
    </a>
</div>-->

<!--<div style="margin-bottom: 4px">
    <a href="" class="btn btn-default btn-sm" ng-repeat="page in pages" ng-click="setCurrentPage($index)">
        <span>{{page}}</span>
    </a>
</div>-->

<div class="alert alert-success alert-dismissible" role="alert" ng-show="lastCaptureState.show" style="position: fixed; top: 0px; right: 0px; left: 0px; background-color: white; z-index: 100">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="lastCaptureState.show=false"><span aria-hidden="true">&times;</span></button>
    <strong>Last Capture Result</strong>
    <span ng-show="lastCaptureState.state.incoming != 1" class="label label-primary center-block">Found: <span class="badge1">{{lastCaptureState.state.incoming}}</span><br /></span>
    <span ng-show="lastCaptureState.state.added > 0" class="label label-primary center-block">Added: <span class="badge1">{{lastCaptureState.state.added}}</span><br /></span>
    <span ng-show="lastCaptureState.state.merged > 0" class="label label-primary center-block">Merged: <span class="badge1">{{lastCaptureState.state.merged}}</span><br /></span>
    <span ng-show="lastCaptureState.state.method" class="label label-primary center-block">Method: <span class="badge1">{{lastCaptureState.state.method}}</span></span>
    <span ng-show="lastCaptureState.state.excluded > 0" class="label label-danger center-block">Excluded: <span class="badge1">{{lastCaptureState.state.excluded}}</span><br /></span>
    <span ng-show="lastCaptureState.state.noname > 0" class="label label-danger center-block">Without name: <span class="badge1">{{lastCaptureState.state.noname}}</span><br /></span>
    <span ng-show="lastCaptureState.state.overlimit > 0" class="label label-danger center-block">Over limit: <span class="badge1">{{lastCaptureState.state.overlimit}}</span></span>
</div>


