<div id="wrapper" ng-controller="home">

    <div id="page-wrapper" class="gray-bg" style="background-color: #f3f3f4; min-height: 600px ">
        <div class="wrapper wrapper-content animated fadeInRight" style="padding: 0">
            <div class="row">
                <div class="col-lg-12">
                    <div class="wrapper wrapper-content" style="padding: 0">
                        <div class="row">

                            <div>

                                <div ng-include="'components/dialogs/view.html'" />
                                <div ng-include="'components/modules/broadlook/multimerge/modal.html'" />
                                <div ng-include="'components/partials/header.min.html'" />

                                <div class="col-lg-4">

                                    <div class="ibox float-e-margins" ng-controller="AccountController" style="margin-bottom: 5px">

                                        <div class="ibox-content" style="padding: 0; border-width: 0px; background-color: transparent">


                                            <div class="ibox-tools">

                                                <div class="btn-group pull-right">
                                                    <button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle" aria-expanded="true"> <i class="fa fa-bars"></i>&nbsp;&nbsp;  <span class="caret"></span></button>
                                                    <ul class="dropdown-menu">
                                                        <li ng-hide="(!license || !license.subscribed || !registered)"><a href="" ng-click="showSettings()">Settings</a></li>
                                                        <li><a href="" ng-click="subscription()" ng-show="registered">Subscription</a></li>
                                                        <li ng-hide="(!license || !license.subscribed || !registered)"><a href="" ng-click="initSearches(); showTab('searchmenu');">Searches</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="https://www.ringlead.com/faq/?q=capture" target="_blank">Help</a></li>
                                                    </ul>
                                                </div>

                                                <div class="pull-right" ng-show="license.contactTokens >= 0">
                                                    <a class="btn btn-link btn-sm" href="" ng-click="openStore()" ng-show="license.contactTokens > 1"><span class="label label-warning-light">Credits: {{license.contactTokens}}</span></a>
                                                    <a class="btn btn-link btn-sm" href="" ng-click="openStore()" ng-hide="license.contactTokens > 1"><span class="label label-danger">Credits: {{license.contactTokens < 0 ? 0 : license.contactTokens}} (Click to purchase)</span></a>
                                                </div>



                                            </div>

                                            <a href="" type="button" class="btn btn-success"
                                               style="margin-right: 8px"
                                               ng-click="showTab('signin')" ng-show="!loggedin">Sign In</a>

                                            <audio id="capture-audio" src="/images/camera-click-sound.mp3"></audio>
                                            <div class="btn-group" ng-show="loggedin && registered" id="capture-button-group">
                                                <button type="button" class="btn btn-primary" id="capture-button" title="Capture current page"
                                                        ng-click="clickToCapturePage($event)" ng-disabled="!license || !license.subscribed">
                                                    <i class="fa fa-camera"></i>&nbsp;&nbsp;Capture Page
                                                </button>
                                                <button type="button" class="btn btn-primary dropdown-toggle" title="More" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="" title="Capture selected text on current page" ng-click="clickToCaptureSelection($event)" ng-disabled="!license || !license.subscribed">
                                                            Capture Text Selection
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="Capture Clipboard content" ng-click="clickToCaptureClipboard($event)" ng-disabled="!license || !license.subscribed">
                                                            Capture From Clipboard
                                                        </a>
                                                    </li>
                                                </ul>


                                            </div>



                                            <div id="Account" ng-show="tab1!='contact'">

                                                <div class="spacer"></div>

                                                <div ng-show="tab1=='searchmenu' && license.subStatus==''">
                                                    <p>Checking license...</p>
                                                </div>

                                                <!--Sign In Help-->
                                                <div ng-show="tab1=='signin'">
                                                    <p>Please <a href="" ng-click="signin(false)">sign in</a> with your Google credentials.</p>
                                                    <p>Have questions? Get help <a href="http://support.broadlook.com" target="_blank">here.</a></p>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-4">

                                    <div id="ContactController"
                                         class="ibox float-e-margins" style="margin-bottom: 0"
                                         ng-controller="ContactController" ng-init="layoutDone()" ng-show="canSee">
                                        <!--<div class="viewer">-->

                                        <button type="button" class="btn btn-primary"
                                                style="position: absolute; top: -44px; left: 180px"
                                                title="Research selected contacts"
                                                id="research-button"
                                                ng-click="researchContacts(getSelectedContacts())">
                                            <i class="fa fa-binoculars"></i>&nbsp;&nbsp;Research Contacts
                                        </button>

                                        <div class="ibox-content" style="padding: 0; border-width: 0px; background-color: transparent; overflow-y: hidden; max-height: 484px">

                                            <a id="anchor_row_top"></a>

                                            <div class="ibox-tools">

                                                <div class="pull-left">
                                                    <div class="btn-group">
                                                        <button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle" aria-expanded="true"> <i class="fa fa-check-square-o"></i>&nbsp;&nbsp; <span class="caret"></span></button>
                                                        <ul class="dropdown-menu">
                                                            <li class="{{(getSelectionCount() == getDisplayedCount())?'disabled':''}}">
                                                                <a href="" ng-click="(getSelectionCount() == getDisplayedCount())||select(getDisplayedContacts())" title="Select all contacts">All</a>
                                                            </li>
                                                            <li class="{{getSelectionCount()==0?'disabled':''}}">
                                                                <a href="" ng-click="(getSelectionCount()==0)||select([])" title="Clear selection">None</a>
                                                            </li>
                                                            <li class="divider"></li>
                                                            <li><a href="" ng-click="select(getDisplayedContacts(), false, { field: '_enhanced' })" title="Select only contacts that were researched">Only Researched</a></li>
                                                            <li><a href="" ng-click="select(getDisplayedContacts(), false, { field: '_saved' })" title="Select only contacts that were saved">Only Saved</a></li>
                                                            <li><a href="" ng-click="select(getDisplayedContacts(), false, { field: '_link' })" title="Select only contacts that are already in CRM">Only Duplicates</a></li>
                                                            <li class="divider"></li>
                                                            <li class="{{(getSelectionCount()==0 || getSelectionCount() == getDisplayedCount())?'disabled':''}}">
                                                                <a href="" title="Invert current selection"
                                                                   ng-click="(getSelectionCount()==0 || getSelectionCount() == getDisplayedCount())||select(getDisplayedContacts(), true, { invert: true })">Invert</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <button class="btn btn-sm btn-default"
                                                            ng-click="toggleExpand(getDisplayedContacts())"
                                                            title="{{getDisplayedContacts()[0]._collapsed?'Expand all contacts':'Collapse all contacts'}}">
                                                        <!--&nbsp;<i class="fa fa-chevron-down"></i>&nbsp;-->
                                                        <i class="fa fa-chevron-up" ng-show="!getDisplayedContacts()[0]._collapsed"></i>
                                                        <i class="fa fa-chevron-down" ng-show="getDisplayedContacts()[0]._collapsed"></i>
                                                    </button>
                                                    <button class="btn btn-sm btn-default"
                                                            ng-click="newContact()"
                                                            title="Create new contact">
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                    <!--<button class="btn btn-sm btn-primary {{getSelectionCount()==0?'hidden':''}}"
                                                            title="Research selected contacts"
                                                            ng-click="researchContacts(getSelectedContacts())">
                                                        <i class="fa fa-cogs"></i>
                                                    </button>-->
                                                    <button class="btn btn-sm btn-default {{(getSelectionCount()==0 || !settings.target || settings.target === 'no')?'hidden':''}}"
                                                            title="Find duplicates of selected contacts in CRM"
                                                            ng-click="findDups(getSelectedContacts())">
                                                        <i class="fa fa-users"></i>
                                                    </button>
                                                    <button class="btn btn-sm btn-default {{getSelectionCount()==0?'hidden':''}}"
                                                            title="Export selected contacts"
                                                            ng-click="exportContacts(getSelectedContacts())">
                                                        <i class="fa fa-upload"></i>
                                                    </button>
                                                    <button class="btn btn-sm btn-default {{getSelectionCount()==0?'hidden':''}}"
                                                            title="Move selected contacts to another list"
                                                            ng-click="moveToList(null, getSelectedContacts())">
                                                        <i class="fa fa-list"></i>
                                                    </button>
                                                    <buton class="btn btn-sm btn-default {{getSelectionCount()==0?'hidden':''}}"
                                                           title="Delete selected contacts"
                                                           ng-click="deleteContacts(getSelectedContacts())">
                                                        <i class="fa fa-times"></i>
                                                    </buton>
                                                    <buton class="btn btn-sm btn-warning {{(isLocal)?'':'hidden'}}"
                                                           title="Import Gmail contacts"
                                                           ng-click="readGmail()">
                                                        <i class="fa fa-user-secret"></i>
                                                    </buton>
                                                </div>



                                                <div class="pull-right">

                                                    <div class="btn-group" style="margin: 0 4px 0 0">
                                                        <button type="button" class="btn btn-sm btn-default {{0===currentPage?'disabled':''}}" ng-click="setCurrentPage(0)" title="First page"><i class="fa fa-angle-double-left"></i></button>
                                                        <button ng-repeat="page in pages" ng-show="isPageVisible($index)" class="btn btn-sm btn-default {{$index===currentPage?'active':''}}" ng-click="setCurrentPage($index)" title="Contacts {{page}}">{{$index + 1}}</button>
                                                        <button type="button" class="btn btn-sm btn-default {{(pages.length - 1)===currentPage || pages.length === 0?'disabled':''}}" ng-click="setCurrentPage(pages.length - 1)" title="Last page"><i class="fa fa-angle-double-right"></i> </button>
                                                    </div>

                                                    <div class="btn-group pull-right">
                                                        <button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle" aria-expanded="true"> <i class="fa fa-filter"></i>&nbsp;&nbsp; <span class="caret"></span></button>
                                                        <ul class="dropdown-menu scrollable-menu">
                                                            <li class="{{ activeMark == markAll ? 'active' : '' }}"><a href="" ng-click="showMark(markAll)">All Contacts ({{getCount(markAll)}})</a></li>
                                                            <li class="{{ activeMark == markDefault ? 'active' : '' }}"><a href="" ng-click="showMark(markDefault)">Default List ({{getCount(markDefault)}})</a></li>
                                                            <li><a href="" ng-click="showNewMarkDlg([])">Create New List</a></li>
                                                            <li class="divider" ng-hide="marks.length===0"></li>
                                                            <li ng-repeat="mark in marks" class="nowrap {{ activeMark == mark ? 'active' : '' }}">
                                                                <a href="" ng-click="showMark(mark)">{{mark}} ({{getCount(mark)}})</a>
                                                            </li>
                                                            <li class="divider" ng-hide="activeMark === markAll || activeMark === markDefault"></li>
                                                            <li ng-hide="activeMark === markAll || activeMark === markDefault"><a href="" ng-click="renameList(activeMark);">Rename Current List</a></li>
                                                            <li ng-hide="activeMark === markAll || activeMark === markDefault"><a href="" ng-click="deleteList(activeMark);">Delete Current List</a></li>
                                                        </ul>
                                                    </div>

                                                </div>

                                            </div>

                                            <div id="scrollArea" style="height: 434px; overflow-x: hidden; overflow-y: auto; clear: both; position: relative; top: 12px; margin-bottom: 24px">
                                                <loader loading="loading" message="Loading Contacts...">
                                                    <div ng-include="'components/views/contacts/contacts.html'" />
                                                </loader>
                                            </div>

                                        </div>

                                        <div class="ibox-footer" style="padding: 2px 2px; background-color: transparent; border-top-style: none;">

                                            <table>
                                                <tr>
                                                    <td>
                                                        <span class="label">Contacts: <span class="badge">{{filteredContacts.length}}</span></span>
                                                    </td>
                                                    <td>
                                                        <span class="label" ng-show="getSelectionCount() > 0">Selected: <span class="badge">{{getSelectionCount()}}</span></span>
                                                    </td>
                                                    <td>
                                                        <span class="label">List: <span class="badge">{{activeMark}}</span></span>
                                                    </td>
                                                    <td ng-show="runtime.search.active">
                                                        <div class="progress progress-striped active" style="width: 120px; margin-bottom: 0" title="Completed {{runtime.search.done}} of {{runtime.search.total}}">
                                                            <div style="width: {{runtime.search.progress}}%; text-align: left" aria-valuemax="{{runtime.search.total}}" aria-valuemin="0" aria-valuenow="{{runtime.search.done}}"
                                                                 role="progressbar" class="progress-bar progress-bar-primary">
                                                                <span style="color: #5e5e5e; padding-left: 10px">Searching...</span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td ng-show="runtime.export.active">
                                                        <div class="progress progress-striped active" style="width: 120px; margin-bottom: 0" title="Completed {{runtime.export.done}} of {{runtime.export.total}}">
                                                            <div style="width: {{runtime.export.progress}}%; text-align: left" aria-valuemax="{{runtime.export.total}}" aria-valuemin="0" aria-valuenow="{{runtime.export.done}}"
                                                                 role="progressbar" class="progress-bar progress-bar-primary">
                                                                <span style="color: #5e5e5e; padding-left: 10px">Exporting...</span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td ng-show="runtime.research.active">
                                                        <div class="progress progress-striped active" style="width: 120px; margin-bottom: 0" title="Completed {{runtime.research.done}} of {{runtime.research.total}}">
                                                            <div style="width: {{runtime.research.progress}}%; text-align: left" aria-valuemax="{{runtime.research.total}}" aria-valuemin="0" aria-valuenow="{{runtime.research.done}}"
                                                                 role="progressbar" class="progress-bar progress-bar-primary">
                                                                <span style="color: #5e5e5e; padding-left: 10px">Researching...</span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>

                                    </div>


                                    <div ng-controller="CCaptureController" ng-show="canSee && allowed">
                                    </div>

                                    <div ng-controller="SearchController" ng-show="canSee && allowed">
                                        <div ng-include="'components/views/searches/searches.html'" />
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<textarea type="text" id="capturePasteArea" style="position: relative; top: 100px; display: none;" rows="10" cols="60"></textarea>-->
