<!-- Multimerge Modal -->
<div class="multimerge" ng-controller="multimerge.controller" ng-init="modalSelector='#multimerge-modal'">
    <div class="modal fade" id="multimerge-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" style="width:98% !important;">
            <div class="modal-content">
                <div class="modal-body" style="padding-bottom:0px;">
                    <h4 class="modal-title">Merge records</h4>
                    <div class="row fade-transition ">

                        <table class="table table-condensed" style="margin-bottom:0px;">
                            <thead>
                            <tr>
                                <th>
                                    <div class="text-center">Merged Preview</div>
                                </th>
                                <th class="clickable" data-toggle="tooltip" data-placement="bottom" title="Use all data for this candidate only" ng-repeat="candidate in candidates" ng-click="selectCandidate(candidate)">
                                    <div class="text-center">{{candidate.display}}</div>
                                </th>
                            </tr>
                            </thead>
                        </table>
                        <div  style="max-height: 320px; overflow-y: auto;">
                            <table class="table table-condensed">
                                <tbody>
                                <tr ng-repeat-start="groupId in definition.groups.list" class="field-group">
                                    <!-- Group -->
                                    <th class="group">
                                        <span class="glyphicon glyphicon-chevron-down" style="font-size:0.8em;"/>&nbsp;{{definition.groups.map[groupId].display}}
                                    </th>
                                    <th class="clickable group" ng-repeat="candidate in candidates" ng-click="selectCandidateFields(candidate, definition.groups.map[groupId].fields)">
                                        <div class="group-select">Select this section</div>
                                    </th>
                                    <!-- /Group -->
                                </tr>
                                <tr ng-repeat="fieldId in definition.groups.map[groupId].fields" ng-repeat-end>
                                    <!-- Field -->
                                    <td>
                                        <div class="col-xs-6 nopadding" data-toggle="tooltip" title="{{definition.fields.map[fieldId].display}}">
                                            <div class="ellipsis">{{definition.fields.map[fieldId].display}}</div>
                                        </div>
                                        <div class="col-xs-6 nopadding">
                                            <input type="text" class="form-control input-sm" data-toggle="tooltip" title="Customize the data here" ng-model="winner.fieldValues[fieldId]">
                                        </div>

                                    </td>
                                    <td ng-repeat="candidate in candidates" class="clickable" ng-class="{'selected-field': winner.fieldValues[fieldId]==candidate.fieldValues[fieldId]}" ng-click="winner.fieldValues[fieldId]=candidate.fieldValues[fieldId]">
                                        <div class="field" data-toggle="tooltip" title="{{candidate.fieldValues[fieldId]}}">
                                            {{candidate.fieldValues[fieldId]}}
                                        </div>
                                    </td>
                                    <!-- /Field -->
                                </tr>
                                </tbody>

                            </table>
                        </div>

                    </div>


                </div>
                <div class="modal-footer text-center">
                    <div class="col-xs-3 col-xs-offset-3">
                        <button type="button" class="btn btn-default btn-block" ng-click="cancel()">Cancel</button>
                    </div>
                    <div class="col-xs-3">
                        <button type="button" class="btn btn-primary btn-block" ng-click="confirm()">Merge</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /Multimerge Modal -->