<!-- Edit Search Modal -->

<div class="modal fade" data-backdrop="static" id="edit-search-modal" tabindex="-1" role="dialog" aria-labelledby="capture-clipboard-modal-Label" aria-hidden="true" ng-init="modalSelector='#edit-search-modal'" ng-controller="searches.edit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" style="padding-bottom:0px;">
                <form class="form" role="form">

                    <div class="form-group" ng-class="{'has-error':!search.name}">
                        <label for="editSearchModalTitle" class="control-label">Title</label>
                        <!--
                        <span  class="pull-right" data-toggle="tooltip"  data-placement="left" title="Public searches show up in the community while private searches are only for you"><small>Private&nbsp;</small><input type="checkbox" ng-model="search.isPrivate"></span>
                        -->
                        <input type="text" class="form-control" id="editSearchModalTitle" placeholder="example: My amazing search!" ng-model="search.name" maxlength="50"/>
                    </div>
                    <div class="form-group" ng-class="{'has-error':!search.description}">
                        <label for="editSearchModalDescription" class="control-label">Description</label>
                        <textarea class="form-control" id="editSearchModalDescription" rows="3" placeholder="example: Finds all widgets in a 10 mile radius" ng-model="search.description"></textarea>
                    </div>
                    <div class="form-group" ng-class="{'has-error':(engine=='custom' && !customEngine)}">
                        <label for="editSearchModalEngine" class="control-label">Engine</label>
                        <select class="form-control" id="editSearchModalEngine" ng-model="engine" ng-options="engine.value as engine.name for engine in engines"/>
                        <input ng-show="engine=='custom'" type="text" class="form-control" placeholder="example: https://www.google.com/search?q=" ng-model="customEngine"/>
                    </div>
                    <div class="form-group" ng-class="{'has-error':!search.searchString}">
                        <label for="editSearchModalSearchString" class="control-label">Search String</label><span class="searchString" data-toggle="tooltip" title="Search string is required"></span>
                        <textarea class="form-control" id="editSearchModalSearchString" rows="4" placeholder="example: 'Red Widget'" ng-model="search.searchString"></textarea>
                        <label>
                            <small>
                                This field supports
                                <a href="" data-toggle="tooltip" title="You may enter optional keywords that will be asked of you when the search is run.    Example: <Favorite color>">keyword tags</a> and
                                <a href="" data-toggle="tooltip" title="You may enter optional locations that will be asked of you when the search is run.    Example: <Location>">location tags</a>
                            </small>
                        </label>
                    </div>
                    <div ng-show="errorMessage" class="alert alert-danger text-center">{{errorMessage}}</div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="col-xs-4">
                    <button type="button" class="btn btn-default btn-block" ng-click="errorMessage=execute()">Try It</button>
                </div>
                <div class="col-xs-4">
                    <button type="button" class="btn btn-primary btn-block" ng-click="errorMessage=confirm()">Save</button>
                </div>
                <div class="col-xs-4">
                    <button type="button" class="btn btn-default btn-block" data-dismiss="modal" ng-click="cancel()">Cancel</button>
                </div>


            </div>
        </div>
    </div>
</div>
<!-- /Edit Search Modal -->