<form ng-submit="save()" role="form">

    <!-- <pre>search: {{selectedSearch}}</pre>-->

    <input type="hidden" class="form-control" ng-model="selectedSearch.searchID">

    <div class="form-group">
        <label for="editSearchName">Name</label>
        <input type="search" class="form-control" id="editSearchName" placeholder="Enter Search Name" ng-model="selectedSearch.name">
    </div>

    <div class="form-group">
        <label for="editSearchDescription">Description</label>
        <textarea class="form-control" id="editSearchDescription" placeholder="Enter Search Description" ng-model="selectedSearch.description" rows="3"></textarea>
    </div>

    <div class="form-group">

        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="selectedSearch.isPrivate">
                Private
            </label>
        </div>

    </div>

    <div class="form-group">
        <label for="editSearchEngine">Search Engine</label>
        <input type="search" class="form-control" id="editSearchEngine" placeholder="Select Search Engine" ng-model="selectedSearch.searchEngine">

        <button type="button" class="btn {{selectedSearch.searchEngine=='https://www.google.com/search?q='?'btn-primary':'btn-default'}} btn-xs" ng-click="selectedSearch.searchEngine='https://www.google.com/search?q='">Google</button>
        <button type="button" class="btn {{selectedSearch.searchEngine=='http://www.bing.com/search?q='?'btn-primary':'btn-default'}} btn-xs" ng-click="selectedSearch.searchEngine='http://www.bing.com/search?q='">Bing</button>
        <button type="button" class="btn {{selectedSearch.searchEngine=='https://search.yahoo.com/search?p='?'btn-primary':'btn-default'}} btn-xs" ng-click="selectedSearch.searchEngine='https://search.yahoo.com/search?p='">Yahoo</button>

    </div>

    <div class="form-group">
        <label for="editSearchString">Search String</label>
        <input type="search" class="form-control" id="editSearchString" placeholder="Enter Search String" ng-model="selectedSearch.searchString">
        <button type="button" class="btn {{hasTag('Keyword')?'btn-primary':'btn-default'}} btn-xs" ng-click="addTag('Keyword')">Keyword</button>
        <button type="button" class="btn {{hasTag('Location')?'btn-primary':'btn-default'}} btn-xs" ng-click="addTag('Location')">Location</button>
        <button type="button" class="btn btn-default btn-xs" ng-click="addTag('Custom')">Custom tag</button>

    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-default" ng-show="selectedSearch.searchID > 0" ng-click="save(true)">Save as Copy</button>
        <button type="button" class="btn btn-default" ng-click="tab=1">Cancel</button>
    </div>

</form>