<div id="wrapper" ng-controller="home">

    <div id="page-wrapper" style="background-color: #f3f3f4;  min-height: 600px">
        <div class="wrapper wrapper-content animated fadeInRight" style="padding: 0">
            <div class="row">
                <div class="col-lg-12">
                    <div class="wrapper wrapper-content" style="padding: 0">
                        <div class="row">


                            <div ng-include="'components/dialogs/view.html'" />
                            <div ng-include="'components/partials/header.min.html'" />

                            <div class="col-lg-4">
                                <div class="ibox float-e-margins" ng-controller="subscription">

                                    <!--<div ng-controller="subscription" class="container">-->

                                    <div ng-include="'components/partials/nav.html'" />

                                    <div class="ibox-title">
                                        <h5>Subscription and Limits</h5>

                                        <!--<div class="ibox-tools">
                                            <a href="" title="Show contacts" ng-click="back()">
                                                <i class="fa fa-chevron-left"></i>
                                                Back                                               
                                            </a>
                                        </div>-->
                                    </div>

                                    <div class="ibox-content" style1="padding: 0; border-width: 0px">


                                     

                                        <!--<div class="spacer"></div>-->
                                        <loader loading="loading" message="Loading Subscription...">

                                            <!--<div class="spacer"></div>-->

                                            <table class="table">
                                                <tr>
                                                    <td>
                                                        License Type
                                                    </td>
                                                    <td>
                                                        <span>{{license.licenseType}}</span>
                                                    </td>
                                                </tr>

                                                <tr ng-show="license.parent">
                                                    <td>
                                                        Parent Account
                                                    </td>
                                                    <td>
                                                        <span>{{license.parent}}</span>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        Subscription
                                                    </td>
                                                    <td>
                                                        <span>{{license.subStatus}}</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Next Billing Period
                                                    </td>
                                                    <td>
                                                        <span>{{license.nextPeriod}}</span>
                                                    </td>
                                                </tr>


                                                <tr ng-show="license.licenseType==='Bulk' && showBulkDetails">
                                                    <td>
                                                        Beginning Balance (Purchased Tokens)
                                                    </td>
                                                    <td>
                                                        <span>{{license.full.beginning}}</span>
                                                    </td>
                                                </tr>
                                                <tr ng-show="license.licenseType==='Bulk' && showBulkDetails">
                                                    <td>
                                                        + Monthly Limit (Included Tokens)
                                                    </td>
                                                    <td>
                                                        <span>{{license.full.monthly}}</span>
                                                    </td>
                                                </tr>
                                                <tr ng-show="license.licenseType==='Bulk' && showBulkDetails">
                                                    <td>
                                                        - Researches Used
                                                    </td>
                                                    <td>
                                                        <span>
                                                            {{license.full.usage}}
                                                            <!--<a class="btn btn-info btn-sm pull-right" ng-click="showUsage('full')">Research History</a>-->
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr ng-show="license.licenseType==='Bulk'">
                                                    <td>
                                                        Bulk Researches Left
                                                    </td>
                                                    <td>
                                                        <span>
                                                            {{license.limited.current}}
                                                            <a class="btn btn-default btn-sm pull-right" ng-click="showBulkDetails=!showBulkDetails">{{showBulkDetails?'Hide':'Show'}} Details</a>
                                                        </span>

                                                    </td>
                                                </tr>

                                                <tr ng-show="license.licenseType!=='Bulk' && showDetails">
                                                    <td>
                                                        Beginning Balance (Purchased Tokens)
                                                    </td>
                                                    <td>
                                                        <span>{{license.full.beginning}}</span>
                                                    </td>
                                                </tr>
                                                <tr ng-show="license.licenseType!=='Bulk' && showDetails">
                                                    <td>
                                                        + Monthly Limit (Included Tokens)
                                                    </td>
                                                    <td>
                                                        <span>{{license.full.monthly}}</span>
                                                    </td>
                                                </tr>
                                                <tr ng-show="license.licenseType!=='Bulk' && license.parentlimit && showDetails">
                                                    <td>
                                                        + Parent Limit (Available Tokens)
                                                    </td>
                                                    <td>
                                                        <span>{{license.parentlimit}}</span>
                                                    </td>
                                                </tr>
                                                <tr ng-show="license.licenseType!=='Bulk' && showDetails">
                                                    <td>
                                                        - Researches Used
                                                    </td>
                                                    <td>
                                                        <span>
                                                            {{license.full.usage}}
                                                            <!--<a class="btn btn-info btn-sm pull-right" ng-click="showUsage('full')">Research History</a>-->
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr ng-show="license.licenseType!=='Bulk'">
                                                    <td>
                                                        Researches Left
                                                    </td>
                                                    <td>
                                                        <span ng-show="license.contactTokens!=2147483647">
                                                            {{license.full.current < 0 ? 0 : license.full.current}}
                                                            <a class="btn btn-default btn-sm pull-right" ng-click="showDetails=!showDetails">{{showDetails?'Hide':'Show'}} Details</a>
                                                        </span>
                                                        <span ng-show="license.contactTokens==2147483647">Unlimited</span>
                                                    </td>
                                                </tr>

                                                <tr ng-show="showDetails2">
                                                    <td>
                                                        Beginning Balance (Purchased Exports)
                                                    </td>
                                                    <td>
                                                        <span>{{license.export.beginning}}</span>
                                                    </td>
                                                </tr>
                                                <tr ng-show="showDetails2">
                                                    <td>
                                                        + Monthly Limit (Included Exports)
                                                    </td>
                                                    <td>
                                                        <span>{{license.export.monthly}}</span>
                                                    </td>
                                                </tr>
                                                <tr ng-show="showDetails2">
                                                    <td>
                                                        - Exports Used
                                                    </td>
                                                    <td>
                                                        <span>
                                                            {{license.export.usage}}
                                                            <!--<a class="btn btn-info btn-sm pull-right" ng-click="showUsage('export')">Export History</a>-->
                                                        </span>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        Exports Left
                                                    </td>
                                                    <td>
                                                        <span ng-show="license.export.current!=2147483647">
                                                            {{license.export.current}}
                                                            <a class="btn btn-default btn-sm pull-right" ng-click="showDetails2=!showDetails2">{{showDetails2?'Hide':'Show'}} Details</a>
                                                        </span><span ng-show="license.export.current==2147483647">Unlimited</span>
                                                    </td>
                                                </tr>

                                            </table>

                                            <div class="spacer"></div>

                                            <div class="text-center" style="padding: 15px">
                                                <button type="button" class="btn btn-primary" ng-click="openStore()">Purchase</button>
                                                <button type="button" class="btn btn-default" ng-click="refreshAccount()">Reload</button>
                                                <button type="button" class="btn btn-default" ng-click="register()">Registration</button>
                                                <button type="button" class="btn btn-default" ng-click="manageChildren()">Sub Accounts</button>
                                            </div>

                                        </loader>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
