<div class="panel panel-{{contact._saved?'danger':'info'}}">
    <div class="panel-heading">
        <h3 class="panel-title">Save Card As...</h3>
    </div>
    <div class="panel-body">

        <!--<p class="text-danger" ng-show="contact._saved">
            Warning: Already saved!
       </p>-->

        <a class="btn btn-default" href="" ng-show="contact._link" ng-click="loadPage(contact._link)">Open saved record</a>

        <ul>
            <li><a href="" ng-click="save(contact, 'lead')">Salesforce Lead</a></li>
            <li><a href="" ng-click="save(contact, 'contact')">Salesforce Contact</a></li>
            <li><a href="" ng-click="save(contact, 'csv')">CSV file</a></li>
        </ul>

        <!--<a class="btn btn-default" href="" ng-show="contact._link" ng-click="loadPage(contact._link)">Open saved record</a>-->

    

    </div>
</div>
