<!-- Edit Contact Modal -->
    <div class="modal fade" data-backdrop="static" id="edit-contact-modal" tabindex="-1" role="dialog" aria-labelledby="capture-clipboard-modal-Label" aria-hidden="true" ng-init="modalSelector='#edit-contact-modal'" ng-controller="contacts.edit">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center">{{title}}</h5>
                </div>
                <div class="modal-body" style="height:420px !important; overflow-y: scroll;">
                    <div ng-show="errorMessage" class="alert alert-danger text-center">{{errorMessage}}</div>
                    <table class="table-condensed">
                        <tbody>
                            <!-- General -->
                            <tr class="form-group required">
                                <td><label class="control-label">Name:</label></td>
                                <td>
                                    <div class="col-xs-4 nopadding"><input type="text" class="form-control input-sm" title="First Name" placeholder="First Name" name="first" ng-model="c.first"></div>
                                    <div class="col-xs-4 nopadding"><input type="text" class="form-control input-sm" title="Middle Name" placeholder="Middle Name" ng-model="c.middle"></div>
                                    <div class="col-xs-4 nopadding"><input type="text" class="form-control input-sm" title="Last Name" placeholder="Last Name" name="last" ng-model="c.last"></div>
                                </td>
                            </tr>
                            <tr class="form-group">
                                <td><label class="control-label">Job Title:</label></td>
                                <td>
                                    <div class="col-xs-12 nopadding"><input type="text" class="form-control input-sm" title="Job Title" placeholder="Job Title" ng-model="c.jobtitle"></div>
                                </td>
                            </tr>
                            <tr class="form-group required">
                                <td><label class="control-label">Company:</label></td>
                                <td>
                                    <div class="col-xs-12 nopadding"><input type="text" class="form-control input-sm" title="Company" placeholder="Company" ng-model="c.company" required></div>
                                </td>
                            </tr>
                            <tr class="form-group">
                                <td><label class="control-label">Website:</label></td>
                                <td>
                                    <div class="col-xs-11 nopadding"><input type="text" class="form-control input-sm" title="Website URL" placeholder="Website URL" ng-model="c.website"></div>
                                    <div class="col-xs-1 nopadding"><div class="btn btn-sm btn-default btn-block" ng-click="lookupWebsite(c)"><span class="fa fa-search"></span></div></div>
                                </td>
                            </tr>
                            <!--<tr>
                                <td><label>Source:</label></td>
                                <td>
                                    <div class="col-xs-12 nopadding"><input type="text" class="form-control input-sm" title="Source URL" placeholder="Source URL" ng-model="c.sourceurl"></div>
                                </td>
                            </tr>-->
                            <!-- Emails -->
                            <tr class="form-group">
                                <td><label class="control-label">Email:</label></td>
                                <td>
                                    <div class="col-xs-6 nopadding"><input type="text" class="form-control input-sm" title="Primary Email" placeholder="Primary" ng-model="c.email"></div>
                                    <div class="col-xs-6 nopadding"><input type="text" class="form-control input-sm" title="Secondary Email" placeholder="Secondary" ng-model="c.email2"></div>
                                </td>
                            </tr>

                            <!-- Phones -->
                            <tr class="form-group">
                                <td><label class="control-label">Phone:</label></td>
                                <td>
                                    <div class="col-xs-6 nopadding"><input type="text" class="form-control input-sm" title="Primary Phone" placeholder="Primary" ng-model="c.phone"></div>
                                    <div class="col-xs-6 nopadding"><input type="text" class="form-control input-sm" title="Secondary Phone" placeholder="Secondary" ng-model="c.phone2"></div>
                                </td>
                            </tr>

                            <!-- Addresses -->
                            <tr class="form-group">
                                <td><label class="control-label">Address:</label></td>
                                <td>

                                    <div class="col-xs-12 nopadding"><input type="text" class="form-control input-sm" title="Address Line 1" placeholder="Address Line 1" ng-model="c.address1"></div><br />
                                    <div class="col-xs-12 nopadding"><input type="text" class="form-control input-sm" title="Address Line 1" placeholder="Address Line 2" ng-model="c.address2"></div><br />
                                    <div class="col-xs-6 nopadding"><input type="text" class="form-control input-sm" title="City" placeholder="City" ng-model="c.city"></div>
                                    <div class="col-xs-2 nopadding"><input type="text" class="form-control input-sm" title="State" placeholder="State" ng-model="c.state"></div>
                                    <div class="col-xs-4 nopadding"><input type="text" class="form-control input-sm" title="Postal Code" placeholder="Zip" ng-model="c.zip"></div><br />
                                    <div class="col-xs-12 nopadding"><input type="text" class="form-control input-sm" title="Country" placeholder="Country" ng-model="c.country"></div>
                                </td>
                            </tr>
                            <tr class="form-group">
                                <td><label class="control-label">Social:</label></td>
                                <td>
                                    <table width="100%">
                                        <tbody>
                                            <tr ng-repeat="venue in c.venues">
                                                <td>
                                                    <div class="col-xs-2"><img ng-src="images/social/{{getSocialIcon(venue.website)}}.jpg" style="height: 24px" /></div>
                                                    <div class="col-xs-9 nopadding"><input type="text" class="form-control input-sm" title="Social URL" placeholder="URL" ng-model="venue.website"></div>
                                                    <div class="col-xs-1 nopadding"><div class="btn btn-sm btn-default btn-block" ng-click="removeVenue($index)"><span class="glyphicon glyphicon-remove" style="color:red;"></span></div></div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="col-xs-12 nopadding text-center"><a href="" ng-click="addVenue()"><small>&lt;Add Venue&gt;</small></a></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="col-xs-6">
                        <button type="button" class="btn btn-primary btn-block" ng-click="errorMessage=confirm()">Save</button>
                    </div>
                    <div class="col-xs-6">
                        <button type="button" class="btn btn-default btn-block" data-dismiss="modal" ng-click="cancel()">Cancel</button>
                    </div>


                </div>
            </div>
        </div>
    </div>
<!-- /Edit Contact Modal -->
