<!-- Dialog -->
<div ng-controller="dialogs.list" ng-init="modalSelector='#dialog-list'">
    <div class="modal fade" id="dialog-list" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">

                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <h4>Send the following data. Each record will be exchanged to one Research Token.</h4>
                        </div>
                    </div>

                    <div ng-show="errorMessage" class="alert alert-danger text-center">{{errorMessage}}</div>

                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <p>&nbsp;</p>
                        </div>
                    </div>

                    <div class="row" ng-show="data.setPattern.length > 0">
                        <div class="col-xs-12 text-left">

                            <table class="table table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th>Url</th>
                                        <th>Email Pattern</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>

                                    <tr ng-repeat="item in data.setPattern">
                                        <td style="border-top-width: 0px">{{item.url}}
                                        </td>
                                        <td style="border-top-width: 0px">{{item.pattern}}
                                        </td>
                                        <td style="white-space: nowrap; border-top-width: 0px">
                                            <div class="col-xs-1">
                                                <button type="button" class="btn btn-xs btn-default" data-toggle="tooltip" title="Delete record" ng-click="deletePattern(item)">
                                                    <span class="glyphicon glyphicon-remove" />
                                                </button>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>


                    <div class="row" ng-show="data.setName.length > 0">
                        <div class="col-xs-12 text-left">

                            <table class="table table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th>Url</th>
                                        <th>Company Name</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>

                                    <tr ng-repeat="item in data.setName">
                                        <td style="border-top-width: 0px">{{item.url}}
                                        </td>
                                        <td style="border-top-width: 0px">{{item.name}}
                                        </td>
                                        <td style="white-space: nowrap; border-top-width: 0px">
                                            <div class="col-xs-1">
                                                <button type="button" class="btn btn-xs btn-default" data-toggle="tooltip" title="Delete record" ng-click="deleteName(item)">
                                                    <span class="glyphicon glyphicon-remove" />
                                                </button>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4 col-xs-offset-2">
                            <div ng-click="select()" class="btn btn-primary btn-block" ng-disabled="data.setPattern.length == 0 && data.setName.length == 0">Send</div>
                        </div>
                        <div class="col-xs-4">
                            <div ng-click="cancel()" class="btn btn-default btn-block">Cancel</div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Dialog -->
