<!-- Dialog -->
<div ng-controller="dialogs.select" ng-init="modalSelector='#dialog-select'">
    <div class="modal fade" id="dialog-select" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                 
                    <div class="row">
                        <div class="col-xs-12 text-center"><h2>{{message}}</h2></div>
                    </div>

                    <div class="row" ng-show="description">
                        <div class="col-xs-12 text-center"><small>{{description}}</small></div>
                    </div>

                    <div ng-show="errorMessage" class="alert alert-danger text-center">{{errorMessage}}</div>

                    <div class="row" ng-hide="items.length < 8">
                        <div class="col-xs-4 col-xs-offset-2">
                            <div ng-click="select(items[selectedIndex])" class="btn btn-primary btn-block">{{selectButtonLabel}}</div>
                        </div>
                        <div class="col-xs-4">
                            <div ng-click="cancel()" class="btn btn-cancel btn-block">Cancel</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 text-center"><p>&nbsp;</p></div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 text-left">

                            <table class="table table-hover table-condensed">

                                <tbody>

                                    <tr ng-show="items.length > pageSize">
                                        <td colspan="3" class="text-center">
                                            <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" class="btn btn-xs btn-link">
                                                <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
                                            </button>
                                            <span class="label" style="color: black">Page {{currentPage+1}} of {{numberOfPages()}}</span>
                                            <button ng-disabled="currentPage >= items.length/pageSize - 1" ng-click="currentPage=currentPage+1" class="btn btn-xs btn-link">
                                                <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
                                            </button>
                                        </td>
                                    </tr>

                                    <tr ng-repeat="item in items | startFrom:currentPage*pageSize | limitTo:pageSize">
                                        <td class="text-center" style="border-top-width: 0px">
                                            <input type="checkbox" ng-model="item.selected" id="selectedRow{{$index}}" />
                                        </td>
                                        <td style="border-top-width: 0px">
                                            <div class="col-xs-12" data-toggle="tooltip" title="{{item.label}}" style="text-overflow: ellipsis; max-width: 310px; width: 310px; white-space: nowrap; overflow: hidden;">
                                                <label style="font-size: 12px" ng-click="item.selected=!item.selected">{{item.label}}</label>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4 col-xs-offset-{{selectButton2Label?'0':'2'}}">
                            <div ng-click="select()" class="btn btn-primary btn-block">{{selectButtonLabel}}</div>
                        </div>
                        <div class="col-xs-4">
                            <div ng-click="cancel()" class="btn btn-default btn-block">Cancel</div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Dialog -->