<li ng-show="value && value.trim()">

    <span ng-show="!link" title="{{field}}: {{value}}">
        <span>{{field}}: </span>
        <span>{{value}}</span>
    </span>

    <span ng-show="link" title="{{field}}: {{value}}" ng-mouseover="showDiveBtnF=true" ng-mouseout="showDiveBtnF=false"  style="display: inline-flex; max-width: 440px">
        <span style="margin-right: .5em">{{field}}:</span>
        <a style="text-overflow: ellipsis; overflow-x: hidden" target="_top" href="" ng-click="openLink(link, true)">{{value}}</a>
        <a style="margin-left: .5em" target="_blank" href="" title="{{title}}" ng-click="action(contact, link)" ng-if="icon" ng-show="always || showDiveBtnF"><i class="fa fa-{{icon}}"></i></a>        
    </span>

</li>