<div style="width: 100%; overflow: hidden; white-space: nowrap; margin-top: 8px; ">
    <contact-card-name></contact-card-name>
    <contact-card-job-info></contact-card-job-info>
    <contact-card-company-info></contact-card-company-info>
    <contact-card-website></contact-card-website>
    <contact-card-email-info email="{{contact.email}}" verification-level="{{contact.emailver}}" verification-level2="{{contact.emailver2}}"></contact-card-email-info>
    <contact-card-email-info email="{{contact.email2}}" verification-level="{{contact.email2ver}}" verification-level2="{{contact.email2ver2}}"></contact-card-email-info>
    <contact-card-phone-info></contact-card-phone-info>
    <contact-card-location-info></contact-card-location-info>
    <contact-card-venues></contact-card-venues>
    <contact-card-dups></contact-card-dups>
</div>