<div class="capture-card-cell" style="height: 18px; overflow: hidden" ng-show="contact.city">
    <span style="max-width: 350px; display: inline-block; text-overflow: ellipsis; overflow: hidden;" title="Address:&#10;{{contact.address1}} {{contact.address2}}&#10;{{contact.city}} {{contact.state}} {{contact.zip}}">
        {{contact.address1}} {{contact.address2}} {{contact.city}} {{contact.state}} {{contact.zip}}
        <a href="" class="" style="font-size: 12px;" data-toggle="tooltip" ng-click="selectAddress(contact)" ng-show="contact.addresses.length > 1" title="Show alternative addresses"><i class="glyphicon glyphicon-triangle-bottom"></i></a>
    </span>
    <span ng-show="contact.city">
        <a href="" class="" style="font-size: 12px; position: relative; top: -4px; left: 1em" data-toggle="tooltip" ng-click="showMap(contact)" title="Show map">
            <i class="glyphicon glyphicon-map-marker"></i>
        </a>
    </span>
</div>