<!-- Dialog -->
<div ng-controller="dialogs.busy" ng-init="modalSelector='#dialog-busy'">
    <div class="modal fade" id="dialog-busy" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 text-center"><p>{{message}}</p></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-center"><img src="images/103.GIF" width="160" height="24"/></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-xs-offset-4">
                            <div ng-show="hasCallback('cancel')" ng-click="cancel()" class="btn btn-primary btn-block">OK</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Dialog -->