<div class="row" ng-show="value && value.trim()" title="{{field}}: {{value}}">
    
    <div class="col-xs-3">
        <p>{{field}}:</p>
    </div>

    <div class="col-xs-9" ng-show="!link && !icon">
        <span style="display: inline-block; max-height: 20px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 370px">{{value}}</span>
    </div>

    <div class="col-xs-9" ng-show="!link && icon" style="display: inline-flex; max-width: 440px">
        <a style="text-overflow: ellipsis; overflow-x: hidden; " href="" ng-click="action(contact)">{{value}}</a>
        <a style="margin-left: .5em" target="_blank" href="" title="{{title}}" ng-click="action(contact)"><i class="fa fa-{{icon}}"></i></a>
    </div>

    <div class="col-xs-9" ng-show="link" ng-mouseover="showDiveBtnF=true" ng-mouseout="showDiveBtnF=false" style="display: inline-flex; max-width: 440px">
        <!--<a style="text-overflow: ellipsis; overflow-x: hidden" target="_top" href="{{link}}" ng-click="openLink(link, current)">{{value}}</a>-->
        <a style="text-overflow: ellipsis; overflow-x: hidden" target="_blank" href="{{link}}">{{value}}</a>
        <a style="margin-left: .5em" target="_blank" href="" title="{{title}}" ng-click="action(contact, link)" ng-if="icon" ng-show="always || showDiveBtnF"><i class="fa fa-{{icon}}"></i></a>
        <a style="margin-left: .5em" target="_blank" href="" title="{{title2}}" ng-if="icon2" ng-click="action(contact, link)"><i class="fa fa-{{icon2}}"></i></a>
    </div>

</div>