<!--<div class="container" style="min-width: 480px; width: 480px; max-width: 480px; margin-right: 1px; min-height: 500px;" ng-controller="home">-->
<div class="container-fluid" style="" ng-controller="home">

    <div ng-include="'components/dialogs/view.html'" />
    <div ng-include="'components/modules/broadlook/multimerge/modal.html'" />


    <!--<div class="row" ng-show="isLocal && false">
        <div class="col-xs-3">
            <div class="btn btn-default btn-sm btn-block" ng-click="TESTA()">A</div>
        </div>
        <div class="col-xs-3">
            <div class="btn btn-default btn-sm btn-block" ng-click="TESTB()">B</div>
        </div>
        <div class="col-xs-3">
            <div class="btn btn-default btn-sm btn-block" ng-click="TESTC()">C</div>
        </div>
        <div class="col-xs-3">
            <div class="btn btn-default btn-sm btn-block" ng-click="TESTD()">D</div>
        </div>

    </div>-->

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!-- Account -->
            <div ng-controller="AccountController">

                <!--Top Menu-->
                <nav class="navbar navbar-default" role="navigation" style="border-style: none; -webkit-box-shadow: none; margin-bottom: 0em">
                    <div class="container-fluid">

                        <div class="navbar-header">

                            <div class="btn-group">
                                <a href="" class="btn btn-default navbar-btn" style="width: auto" title="Capture current page or selection (Ctrl+click)" ng-click="patternCapture($event)" ng-show="registered" ng-disabled="!license || !license.subscribed">
                                    <img src="images/logo-capture18.png" width="82" height="18">
                                </a>
                                <a href="" class="btn btn-default navbar-btn" title="Capture from Clipboard" ng-click="captureClipboard()" ng-show="registered" ng-disabled="!license || !license.subscribed">
                                    <img src="images/clipboard.jpg" width="18" height="18">
                                </a>
                            </div>

                            <div class="btn-group">
                                <a href="" class="btn btn-default navbar-btn" ng-class="{'active':tab1=='contact'}" style="width: auto" ng-click="showTab('contact')" ng-show="registered" ng-disabled="!license || !license.subscribed">Contacts <span class="label label-success" ng-show="runtime.contactsCount>0">{{ runtime.contactsCount }}</span></a>
                                <a href="" class="btn btn-default navbar-btn" ng-class="{'active':tab1=='searchmenu'}" style="width: auto" ng-click="initSearches() ;showTab('searchmenu');" ng-show="registered" ng-disabled="!license || !license.subscribed">Searches</a>
                            </div>

                            <a href="" type="button" class="btn btn-default navbar-btn {{tab1=='signin'?'active':''}}" ng-click="showTab('signin')" ng-show="!loggedin">Sign In</a>

                            <div class="pull-right ">

                                <a href="" class="pull-right btn-xs" data-toggle="dropdown">
                                    <i class="glyphicon glyphicon-cog"></i>
                                </a>

                                <ul class="dropdown-menu pull-right">
                                    <li class="{{tab2=='settings'?'active':''}}" ng-hide="(!license || !license.subscribed)"><a href="" ng-click="showSettings()" ng-show="registered" ng-disabled="(!license || !license.subscribed)">Settings</a></li>
                                    <li class="{{tab2=='status'?'active':''}}"><a href="" ng-click="subscription()" ng-show="registered">Subscription</a></li>
                                    <li ng-hide="(!license || !license.subscribed)"><a href="" ng-click="editPatterns()" ng-show="registered" ng-disabled="(!license || !license.subscribed)">Patterns</a></li>
                                </ul>

                                <a href="" class="pull-right btn-xs no-underline {{ runtime.loggedin ? '' : 'text-danger' }}"
                                   title="{{targetName}}: {{ runtime.loggedin ? 'Connected' : 'Disconnected' }}"
                                   ng-show="registered && account.settings.target!=='none'" ng-click="openTargetLoginPage()">
                                    {{targetName}}
                                </a>

                            </div>



                        </div>

                    </div>
                    <!-- /.container-fluid -->
                </nav>

                <div style="text-align: left">
                    <img src="images/line.png" style="width: 70%; height: 10px"/>
                    <div style="float: right; color: #ccc; font-size: 10px">v. {{version}}</div>
                </div>



                <div id="Account" ng-show="tab1!='contact'">

                    <!--<ul class="nav nav-tabs" ng-show="false">
                        <li class="{{tab1=='searchmenu'?'active':''}}"><a ng-click="showTab('searchmenu')" ng-show="registered" href="">Search</a></li>
                        <li class="{{tab1=='contact'?'active':''}}"><a ng-click="showTab('contact')" ng-show="registered" href="">Contacts</a></li>

                        <li class="{{tab1=='signin'?'active':''}}"><a ng-click="showTab('signin')" ng-show="!loggedin" href="">Sign In</a></li>

                        <li class="{{tab1=='moremenu'?'active':''}} dropdown" ng-show="loggedin">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                {{ registered ? 'More' : 'Getting started' }} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="{{tab2=='status'?'active':''}}"><a ng-click="showTab('moremenu', 'status')" ng-show="registered" href="">Subscription</a></li>
                                <li class="{{tab2=='reg'?'active':''}}"><a ng-click="showTab('moremenu', 'reg')" ng-show="loggedin" href="">Registration</a></li>
                                <li class="divider"></li>
                                <li class="{{tab2=='signin'?'active':''}}"><a ng-click="showTab('signin');signout();" ng-show="loggedin" href="">Sign Out</a></li>
                            </ul>
                        </li>

                    </ul>-->

                    <div class="spacer"></div>

                    <div ng-show="tab1=='searchmenu' && license.subStatus==''">
                        <p>Checking license...</p>
                    </div>

                    <!--Sign In Help-->
                    <div ng-show="tab1=='signin'">

                        <p>Please <a href="" ng-click="signin(false)">sign in</a> with your Google credentials.</p>
                        <p>Have questions? Get help <a href="http://support.broadlook.com" target="_blank">here.</a></p>

                    </div>


                </div>


            </div>

            <!-- Contact Viewer -->
            <div id="ContactController" ng-controller="ContactController" ng-init="layoutDone()" ng-show="canSee">

                <div class="viewer">

                    <div class="container1">

                        <a id="anchor_row_top"></a>

                        <!--Menu-->
                        <div ng-include="'components/partials/contacts/menu.html'" />

                        <!--Company Viewer-->
                        <div ng-show="showCompany">
                            <div class="form-group">
                                <label for="compName">Company: </label>
                                <h4 id="compName">{{company.name}}</h4>
                                <span ng-show="company.www" class="nowrap"><i class="glyphicon glyphicon-globe"></i><a href="" ng-click="loadPage(company.www)">{{company.www}}</a></span>
                            </div>
                        </div>

                        <!--Contact List-->
                        <div id="scrollArea">
                            <!-- Contacts -->
                            <div ng-include="'components/views/contacts/contacts.html'" />
                            <!-- Contacts -->
                        </div>
                        <!--End of scrollArea-->
                    </div>
                    <!--End of container-->

                </div>
                <!--End of viewer-->

            </div>


        </div>
    </div>

    <div ng-include="'components/partials/footer.min.html'" />
</div>
