<!--begin card object -->
<div class="col-xs-12"  style="padding-left:30px; padding-right:30px;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-1">
                    <div  ng-hide="targetScope=='favorites'" class=" clickable" data-toggle="tooltip" title="{{ (searches.map[searchId].isFavorite ? 'Remove from favorites' : 'Add to favorites' ) }}" ng-click="search.favorite(searchId)"><span class="glyphicon" ng-class="{'glyphicon-star':searches.map[searchId].isFavorite, 'glyphicon-star-empty':!searches.map[searchId].isFavorite}"/></div>
                </div>
                <div class="col-xs-10 nopadding">
                    <p class="panel-title pull-left" style="width: 350px; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"  data-toggle="tooltip" title="{{searches.map[searchId].name}}">{{searches.map[searchId].name}}</p>
                </div>
                <div class="col-xs-1">
                    <a href="" class="close" data-toggle="tooltip" title="Remove from tab" ng-click="search.unshare(searchId)" ng-show="(searches.map[searchId].isMine || targetScope=='favorites') && targetScope!='person'">&times;</a>
                </div>
            </div>

            <!--
            <div ng-hide="targetScope=='favorites'">

                <div class="col-xs-1" ng-hide="targetScope=='favorites'">
                    <div class=" clickable" data-toggle="tooltip" title="{{ (searches.map[searchId].isFavorite ? 'Remove from favorites' : 'Add to favorites' ) }}" ng-click="search.favorite(searchId)"><span class="glyphicon" ng-class="{'glyphicon-star':searches.map[searchId].isFavorite, 'glyphicon-star-empty':!searches.map[searchId].isFavorite}"/></div>
                </div>
            </div>

            <p class="panel-title pull-left" style="width: 350px; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"  data-toggle="tooltip" title="{{searches.map[searchId].name}}">{{searches.map[searchId].name}}</p>
            <div class="btn-group pull-right" ng-show="(searches.map[searchId].isMine || targetScope=='favorites') && targetScope!='person'">
                <a href="" class="close" data-toggle="tooltip" title="Remove from tab" ng-click="search.unshare(searchId)">&times;</a>
            </div>
            <div class="clearfix"></div>
            -->
            <div class="clearfix"></div>

        </div>
        <div class="panel-body" style="padding-top:5px; padding-bottom:5px;-webkit-transition: height 2s; /* For Safari 3.1 to 6.0 */transition: height 2s;">

            <div class="row">
                <div class="col-xs-10 text-left"><h5><small>by {{searches.map[searchId].author}} on {{searches.map[searchId].createdOn | date : date : mediumDate }}</small></h5></div>
                <!--
                <div class="col-xs-2 text-right" data-toggle="tooltip" title="{{ (searches.map[searchId].isPrivate ? 'Private' : 'Public') }}">
                    <h5><small>{{ ( searches.map[searchId].isPrivate ? 'Private' : 'Public' ) }}</small></h5>
                </div>
                -->

            </div>

            <div class="row">
                <div class="col-xs-12" ng-dblclick="search.edit(searchId)">
                    <p ng-bind-html="searches.map[searchId].description | linky:'_blank'"/>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12" ng-dblclick="search.edit(searchId)">
                    <pre style="background-color:#FFFFFF !important;">{{searches.map[searchId].searchString}}</pre>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <ul class="nav nav-pills" style="font-size:1em !important; padding: 5px !important;">
                        <li><a href="" data-toggle="tooltip" title="Execute this search" ng-click="search.run(searchId)">{{ ( !isPublic ? 'Run' : 'Try' ) }}</a></li>
                        <!--<li><a href="" ng-show="!isPublic" ng-click="search.edit(searchId)">Edit</a></li>-->


                        <li class="dropdown dropup" ng-show="searches.map[searchId].isMine && targetScope=='person'">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <span data-toggle="tooltip" title="Pin this search to another tab">Edit<span class="caret"/></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation"><a role="menuitem" href="" ng-click="search.edit(searchId)" >Edit</a></li>
                                <li role="presentation" ng-show="searches.map[searchId].isMine"><a role="menuitem" href="" ng-click="search.remove(searchId)" >Delete</a></li>
                            </ul>
                        </li>

                        <!--<li><a href="" data-toggle="tooltip" title="Add to private searches" ng-hide="!isPublic" ng-click="add(searchId)">Pin</a></li>-->
                        <li class="dropdown dropup" ng-show="searches.map[searchId].isMine && targetScope=='person'">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <span data-toggle="tooltip" title="Pin this search to another tab">Share<span class="caret"/></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation"><a role="menuitem" href="" ng-click="search.share(searchId, 'community', '')" >Community</a></li>
                                <li role="presentation" ng-show="teams.list" class="divider"></li>
                                <li role="presentation" ng-repeat="team in teams.list"><a role="menuitem" href="" ng-click="search.share(searchId, 'team', team.teamcode)">{{team.teamname}}</a></li>
                            </ul>
                        </li>



                        <li><a href="" data-toggle="tooltip" title="View or add comments" ng-click="search.comments.toggle(searchId)"><span class="glyphicon glyphicon-comment"></span><span ng-show="searches.map[searchId].commentCount">&nbsp;<span class="badge">{{searches.map[searchId].commentCount}}</span></span></a></li>
                        <li class="pull-right"><a href="" data-toggle="tooltip" title="Like" ng-click="search.rate(searchId, 1)"><span class="glyphicon glyphicon-thumbs-up"></span><span ng-show="searches.map[searchId].ratingUp">&nbsp;{{searches.map[searchId].ratingUp}}</span></a></li>
                        <li class="pull-right"><a href="" data-toggle="tooltip" title="Dislike" ng-click="search.rate(searchId, -1)"><span class="glyphicon glyphicon-thumbs-down"></span><span ng-show="searches.map[searchId].ratingDown">&nbsp;{{-searches.map[searchId].ratingDown}}</span></a></li>
                    </ul>
                </div>
            </div>
            <div ng-show="searches.map[searchId].showComments">
                <div class="row" ng-repeat="comment in searches.map[searchId].comments">
                    <div class="col-xs-1">
                        <span class="glyphicon glyphicon-user" style="font-size: 2em; color:#999;"/>
                    </div>
                    <div class="col-xs-11">
                        <div class="row">
                            <div class="col-xs-11">
                                <strong>{{comment.author}} </strong> {{comment.comment}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <small>{{comment.createdOn | date : date : mediumDate }}</small>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <!--<hr style="margin-bottom:0px;"/>-->
                </div>
                <hr style="margin-bottom:6px;margin-top:3px;width:95%;"/>
                <div class="row">
                    <div class="col-xs-1">
                        <span class="glyphicon glyphicon-user" style="font-size: 2em;"/>
                    </div>
                    <div class="col-xs-11">
                        <input type="text" class="form-control input-sm" placeholder="Write a comment..." ng-model="searches.map[searchId].newComment" ng-enter="search.comments.add(searchId, searches.map[searchId].newComment)" maxlength="500"/>
                    </div>
                </div>
            </div>




        </div>
    </div>

</div>
<!-- end card object -->