<div class="modal fade edit-source-pattern-modal" ng-init="modalSource.selector='.edit-source-pattern-modal'">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <label>Name:</label>
                <textarea style="max-height:40px; max-width:540px; height:40px;" class="form-control" ng-model="modalSource.Name"/>
                <br />
                <label>Url:</label>
                <textarea style="max-height:40px; max-width:540px; height:40px;" class="form-control" ng-model="modalSource.Url"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancelSource()">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="saveSource()">Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->