<!-- Dialog -->
<div ng-controller="dialogs.lookup" ng-init="modalSelector='#dialog-lookup'">
    <div class="modal fade" id="dialog-lookup" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">

                    <div class="row">
                        <div class="col-xs-12 text-center"><h2>{{message}}</h2></div>
                    </div>
                    <!--<div ng-show="message2" class="alert alert-warning text-center">{{message2}}</div>

                    <div ng-show="errorMessage" class="alert alert-danger text-center">{{errorMessage}}</div>

                    <div class="row">
                        <div class="col-xs-12 text-center"><p>&nbsp;</p></div>
                    </div>-->

                    <div class="row" ng-hide="lookupDefinition.fixedlist">
                        <div class="col-xs-12 text-center">
                            <div class="alert alert-default text-center">
                                <input type="search" style="width: 320px" ng-model="value" ng-keypress="onEnterPress($event)"/>
                                <button ng-click="find()" ng-disabled="searching">Find</button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 text-left" style="min-height: 100px; max-height: 342px; overflow-y: auto">

                            <loader loading="searching" message="Loading...">

                                <div ng-show="message2" class="alert alert-warning text-center">{{message2}}</div>

                                <div ng-show="errorMessage" class="alert alert-danger text-center">{{errorMessage}}</div>

                                <table class="table table-hover table-condensed">

                                    <tbody>

                                        <tr ng-repeat="item in items">
                                            <td class="text-center" style="border-top-width: 0px">
                                                <input type="radio" ng-model="runtime.selectedIndex" value="{{$index}}" name="selectedRow" id="selectedRow{{$index}}" />
                                            </td>
                                            <td style="border-top-width: 0px">
                                                <div class="col-xs-12" data-toggle="tooltip" title="{{item.label}}" style="text-overflow: ellipsis; width: 300px; white-space: nowrap; overflow: hidden;">
                                                    <label for="selectedRow{{$index}}">{{item.label}}</label>
                                                </div>
                                            </td>
                                            <td style="white-space: nowrap; border-top-width: 0px" ng-hide="lookupDefinition.picklist">
                                                <div class="col-xs-1">
                                                    <button type="button" class="btn btn-xs btn-default" data-toggle="tooltip" title="View record" ng-if="item.link" ng-click="openLink(item.link)">
                                                        <span class="glyphicon glyphicon-eye-open" />
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr ng-show="showGoogle && items.length === 0">
                                            <td colspan="3">
                                                <div class="col-xs-12">
                                                    <center>
                                                        <span class="label label-warning">No matching websites were found</span>
                                                    </center>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr ng-show="showGoogle">
                                            <td colspan="3">
                                                <div class="col-xs-12">
                                                    <center>
                                                        <a class="btn btn-default" ng-click="searchWeb()" data-toggle="tooltip" title="Search Web for more results">Search Web for more results</a>
                                                    </center>
                                                </div>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            
                            </loader>
                        </div>
                    </div>

                    <div class="row">
                        <div class="alert alert-default text-center">
                            <div class="col-xs-4 col-xs-offset-2">
                                <div ng-click="select(items[runtime.selectedIndex])" ng-disabled="searching" class="btn btn-primary btn-block">{{selectButtonLabel}}</div>
                            </div>
                            <div class="col-xs-4">
                                <div ng-click="cancel()" class="btn btn-default btn-block">Cancel</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Dialog -->