<!-- Dialog -->
<div ng-controller="dialogs.text" ng-init="modalSelector='#dialog-text'">
    <div class="modal fade" id="dialog-text" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form class="form" role="form">
                        <div class="text-center">{{message}}</div>
                        <div class="form-group" ng-class="{'has-error':!satisfied()}">
                            <input id="dialog-text-input" type="text" class="form-control" placeholder="{{placeholder}}" ng-readonly="readOnly" ng-model="value" maxlength="{{max}}" autofocus/>
                        </div>
                    </form>
                    <div ng-show="errorMessage" class="alert alert-danger text-center">{{errorMessage}}</div>
                    <div class="row">
                        <div class="col-xs-4 col-xs-offset-2">
                            <div ng-click="errorMessage=confirm()" class="btn btn-primary btn-block">OK</div>
                        </div>
                        <div class="col-xs-4">
                            <div ng-click="cancel()" class="btn btn-default btn-block">Cancel</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Dialog -->