<!-- Dialog -->
<div ng-controller="dialogs.progress" ng-init="modalSelector='#dialog-progress'">
    <div class="modal fade" id="dialog-progress" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 text-center"><p>{{message}}</p></div>
                    </div>
                    <div class="row">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percent}}%;">
                                {{percent}} %
                            </div>
                        </div>
                    </div>
                 <!--   MIN:{{min}}<br>
                    MAX:{{max}}<br>
                    VALUE:{{value}}<br>-->
                   <!-- <div class="row">
                        <div class="col-xs-4 col-xs-offset-4">
                            <div ng-click="cancel()" class="btn btn-danger btn-block">OK</div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Dialog -->