<!-- Dialog -->
<div ng-controller="dialogs.capture.list" ng-init="modalSelector='#dialog-capture-list'">
    <div class="modal fade" id="dialog-capture-list" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">

                    <div class="row">
                        <div class="col-xs-12 text-center"><h3>{{message}}</h3></div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="checkbox"><label><input type="checkbox" ng-model="sameCompany">All contacts from the same company?</label></div>
                        </div>
                    </div>

                    <div class="row" ng-show="sameCompany">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label" for="companyNameInput">Company Name</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="companyNameInput" placeholder="Enter company name" ng-model="companyName">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Alternative names"><span class="caret"></span></button>
                                        <ul class="dropdown-menu pull-right">
                                            <li ng-repeat="name in companyNames">
                                                <a href="" ng-click="setName(name)">{{name}}</a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="companyURLinput">Company Website</label>
                                <input type="text" class="form-control" id="companyURLinput" placeholder="Enter company website" ng-model="companyURL">
                            </div>
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label" for="listInput">Target list</label>
                                <select class="form-control" id="listInput" ng-model="selected" ng-options="option for option in options" />
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-show="selected == '<New List>'">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label" for="companyURLinput">New list name</label>
                                <input type="text" class="form-control" placeholder="Enter new list name" ng-model="newListName">
                            </div>
                        </div>
                    </div>

                 
                    <br/>

                    <!--<div class="row">
                        <div class="col-xs-12">
                            <div class="checkbox"><label><input type="checkbox" ng-model="mergeDups"><p>Merge duplicates?</p></label></div>
                        </div>
                    </div>
                    <br />-->

                    <div class="row">
                        <div class="col-xs-4 col-xs-offset-2">
                            <div data-dismiss="modal" ng-disabled="!ready()" ng-click="ok()" class="btn btn-primary btn-block">OK</div>
                        </div>
                        <div class="col-xs-4">
                            <div data-dismiss="modal" ng-click="cancel()" class="btn btn-default btn-block">Cancel</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Dialog -->